{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
        
        <div class='filter-data'>
            <form action="" class="small-filter-form" method="POST">
                {% csrf_token %}
                <label for="common_article_id" class="rand">
                    <span>Цена больше чем</span><br>
                    <input type="number" id="common_article_id" name="article_price" class="input-field">
                </label>
                <label for="common_article_id" class="rand">
                    <span>Цена меньше чем</span><br>
                    <input type="number" id="common_article_id" name="less_article_price" class="input-field">
                </label>
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="filter" value="Фильтровать" />
                </div>
            </form>

            
            <form action="" class="small-filter-form" method="POST">
                {% csrf_token %}
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="update_data" name="update_data" value="Обновить данные" />
                </div>
            </form>

            <div class="inner-form-data">
                <br>
                <button id="startCampaignsBtn" style="white-space: nowrap;" >Старт Кампаний</button>
            </div>
            <div class="inner-form-data">
                <br>
                <button id="pausaCampaignsBtn" style="white-space: nowrap;" >Пауза Кампаний</button>
            </div>
        </div>

        <table style="overflow-x: scroll; display: block; width: 100%;">
            <tr >
                <th>
                    <input type="checkbox" name="main_check_box" class="input-field" onchange="checkAllCheckboxes(this)"> 
                </th>
                <th>ID кампании ВБ</th>
                <th>Юр. лицо</th>
                <th>Название кампании</th>
                <th>Тип</th>
                <th>Статус</th>
                <th>Список артикулов nmID</th>
                <th>Баланс</th>
                <th>Цена артикула</th>
                <th>Текущая ставка</th>
            </tr>
            {% for el in campaigns_list %}
            <tr data-campaign-number="{{ el.campaign_number }}" data-ur-lico="{{ el.ur_lico.ur_lice_name }}">
                <td>
                    <input type="checkbox" name="campaign_start" class="input-field">
                </td>
                <td>{{ el.campaign_number }}</td>
                <td>{{ el.ur_lico.ur_lice_name }}</td>
                <td>{{ el.campaign_name }}</td>
                <td>{{ WB_ADVERTISMENT_CAMPAIGN_TYPE_DICT|get_item:el.campaign_type }}</td>
                <td>{{ WB_ADVERTISMENT_CAMPAIGN_STATUS_DICT|get_item:el.campaign_status }}</td>
                <td>{{ el.articles_name }}</td>
                <td>{{ el.balance }}</td>
                <td>{{ el.article_price_on_page }}</td>
                <td>{{ el.current_cpm }}</td>  
            </tr>
            {% endfor %}
        </table>

    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        //========== ЧЕКАЕТ ВСЕ ЧЕКБОКСЫ,ЕСЛИ НАЖМЕТ ГЛАВНЫЙ ==========//
        function checkAllCheckboxes(mainCheckbox) {
            var checkboxes = document.getElementsByClassName('input-field');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] !== mainCheckbox) {
                    checkboxes[i].checked = mainCheckbox.checked;
                }
            }
        }
        //========== ВЫБРАННЫЕ ЧЕКБОКСЫ ==========//
        document.getElementById('startCampaignsBtn').addEventListener('click', function() {
    sendCampaignData(this);
});

document.getElementById('pausaCampaignsBtn').addEventListener('click', function() {
    sendCampaignData(this);
});

function sendCampaignData(button) {
    var selectedArticles = [];
    var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
    var formData = new FormData();

    var campaignData = {};

    checkboxes.forEach(function(checkbox) {
        var row = checkbox.closest('tr');
        var campaignNumber = row.getAttribute('data-campaign-number');
        var urLico = row.getAttribute('data-ur-lico');

        selectedArticles.push({
            campaignNumber: urLico
        });

        // Добавляем название кнопки к данным
        campaignData[campaignNumber] = urLico
        
    });
    formData.append('campaignData', JSON.stringify(campaignData));
    formData.append('button_name', button.id);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    fetch('start_checked_campaigns', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())

    .catch(error => {
        console.error('Error:', error);
    });
}
        // ========== УПОРЯДОЧИВАЕТ ТАБЛИЦУ ПРИ НАЖАТИИ НА СТОЛБЕЦ ========= //
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent; 
            const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
                )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            // do the work...
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                Array.from(table.querySelectorAll('tr')).slice(1) // выбираем все строки, начиная со второй
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => table.appendChild(tr) );
            })));
    </script>
        
{% endblock %}
