{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>

        <p>{{ user_chat_id }}</p>
        <!-- {% if errors_list %}
            <script>
                alert("{{ errors_list }}");
            </script>
        {% endif %} -->
        {% if errors_list %}
            <div class="alert alert-danger" role="alert">
                {% for i in errors_list %}
                    {{ i|safe }}<br>
                {% endfor %}
            </div>
        {% endif %}


        {% if ok_answer %}
            <div class="alert alert-success" role="alert">
                {{ ok_answer }}
            </div>
        {% endif %}
        
        <div class='filter-data'>
            <form id="campaigns_create" class="create-filter-form" method="POST">
                {% csrf_token %}
                <div class="inner-form-data">
                    <span>Юр. лицо</span><br>
                    <select class="mySelect" name="ur_lico_select" required>
                        <option value=""></option>
                        {% for ur_lico in ur_lico_data %}
                            <option value="{{ ur_lico.id }}">{{ ur_lico.ur_lice_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="inner-form-data">
                    <span>Тип кампании</span><br>
                    <select class="selectType" name="select_type" required>
                        <option value=""></option>
                        <option value=8>Автоматическая</option>
                    </select>
                </div>

                <div class="inner-form-data">
                    <span>Предмет</span><br>
                    <select class="mySelect" name="select_subject" required>
                        <option value=""></option>
                        {% for subject, code in subject_id.items %}
                            <option value="{{ code }}">{{ subject }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="inner-form-data">
                    <span>Список артикулов (через запятую c пробелом)</span><br>
                    <input type="text" name="articles" required/>
                </div>

                <div class="inner-form-data">
                    <span>Бюджет</span><br>
                    <input type="number" name="budget" value="1000" min="1000" required/>
                </div>

                <div class="inner-form-data">
                    <span>Ставка</span><br>
                    <input type="number" name="cpm" required/>
                </div>

                <div class="inner-form-data">
                    <br>
                    <button type="Submit">Создать</button>
                    <!-- <input id="reload-button" type="Submit" id="filter" name="action" value="Создать"/> -->
                </div>
            </form>
            
        
        </div>

    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        // ========== ЗАПУСКАЕТ СОЗДАНИЕ РЕКЛАМНЫХ КАМПАНИЙ ========= //
        document.getElementById("campaigns_create").addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            formData.append("user_chat_id", "{{ user_chat_id }}");
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "create_reklama_create_many_campaigns", true);
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xhr.send(formData);
            console.log("Function is still running in the background.");
            location.reload()
            // xhr.onreadystatechange = function() {
            //     if (xhr.readyState == 4 && xhr.status == 200) {
            //         console.log("Function is still running in the background.");
            //         location.reload(); // Перезагрузка страницы
            //     }
            // };
            
        });
    </script>
        
{% endblock %}
