{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
        
        <div class='filter-data'>
            
            <div style="display: flex; gap: 2rem;">
                <div class="inner-form-data">
                    <br>
                    <a href="{% url 'create_cpm_budget_stat' campaign_obj %}">CPM</a>
                </div>
                <div class="inner-form-data">
                    <br>
                    <a href="{% url 'create_replenish_stat' campaign_obj %}">Бюджет</a>
                </div>
                <div class="inner-form-data">
                  <br>
                  <a href="{% url 'create_pausa_stat' campaign_obj %}">Остановки</a>
              </div>
              <div class="inner-form-data">
                <br>
                <a href="{% url 'adv_campaign_daily_statistic' campaign_obj %}">Ежедневная статистика</a>
              </div>
            </div>
        </div>

        <div class="alert alert-warninng">
            <div class="charts_sales_by_week">
              <div class='chart_sales_by_week'>
                <canvas id="acquisitions" width="580" height="300"></canvas>
                <script>
                  function getGradient(ctx, chartArea) {
                    let gradient = ctx.createLinearGradient(
                        0,
                        chartArea.bottom,
                        0,
                        chartArea.top
                      );
                      gradient.addColorStop(0.9, "rgba(115, 128, 236, 0.6)");
                      gradient.addColorStop(0, "rgba(191, 198, 255, 0.6)");
                      return gradient;
                  }
                  function getGradient2(ctx, chartArea) {
                    let gradient = ctx.createLinearGradient(
                      0,
                      chartArea.bottom,
                      0,
                      chartArea.top
                    );
                    gradient.addColorStop(0.9, "rgba(255, 119, 130, 0.6)");
                    gradient.addColorStop(0, "rgba(255, 179, 185, 0.6)");
                    return gradient;
                  }
                  (async function() {
                    new Chart(
                      document.getElementById('acquisitions'),
                      {
                        type: 'line',
                        data: {
                          labels: [{% for date in pausa_data %} '{{ date.date_status }}', {% endfor %}],
                          datasets: [
                            {
                              label: 'Статитстика остановок {{ campaign_data.campaign_name|safe }}.  Статус 9 - идут показы. Статус 11 - на паузе.',
                              
                              data: [{% for value in pausa_data %} {{ value.campaign_status }}, {% endfor %}],
                              lineTension: 0.3,
                              fill: true,
                              backgroundColor: function (context) {
                                const chart = context.chart;
                                const { ctx, chartArea } = chart;
                                // This case happens on initial chart load
                                if (!chartArea) return;
                                return getGradient2(ctx, chartArea);
                              }
                            },
                          ]
                        },
                        options: {
                          responsive: true,
                          maintainAspectRatio: false,
                          plugins: {
                              legend: {
                                  labels: {
                                      // This more specific font property overrides the global property
                                      font: {
                                        size: 14,
                                        family: "'Open Sans', 'Arial', 'sans-serif'"
                                      }
                                  }
                              }
                          }
                        }
                      }
                    );
                  })();
                </script>
              </div>
            </div>
          </div>

        <table style="overflow-x: scroll; display: block; width: 100%;">
            <tr>
                <th>Дата</th>
                <th>Статус</th>
            </tr>
            {% for el in pausa_data %}
            <tr>
                <td>{{ el.date_status }}</td>
                <td>{{WB_ADVERTISMENT_CAMPAIGN_STATUS_DICT|get_item:el.campaign_status }}</td> 
            </tr>
            {% endfor %}
        </table>

    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        
        // ========== УПОРЯДОЧИВАЕТ ТАБЛИЦУ ПРИ НАЖАТИИ НА СТОЛБЕЦ ========= //
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent; 
            const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
                )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            // do the work...
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                Array.from(table.querySelectorAll('tr')).slice(1) // выбираем все строки, начиная со второй
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => table.appendChild(tr) );
            })));
    </script>
        
{% endblock %}
