{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
        {% if errors_list %}
            <div class="alert alert-danger" role="alert">
                {{ errors_list|safe }}<br>
            </div>
        {% endif %}


        {% if ok_answer %}
            <div class="alert alert-success" role="alert">
                {{ ok_answer|safe }}
            </div>
        {% endif %}

        <div class='filter-data'>
            <div class="inner-form-data" style="display: flex; gap: 1rem;">
                <form method="POST" id="downloadForm" enctype="multipart/form-data" class="big-filter-form">
                    {% csrf_token %}
                    <div class="inner-form-data" style="margin-top: 10px;">
                        <button type="submit" name="export" value="create_file" title="Шаблон Excel">
                            <span class="material-symbols-outlined">
                                ios_share
                            </span>
                        </button>
                    </div>
                </form>
                <form method="POST" id="uploadForm" enctype="multipart/form-data" class="big-filter-form">
                    {% csrf_token %}
                    <div class="inner-form-data">
                        <label for="import_data" title="Загрузить группы из Excel">
                            <span class="material-symbols-outlined">
                                download
                            </span>
                        </label>
                        <input type="file" id="import_data" name="import_file" class="input-file" style="margin-top: 0px;">
                    </div>
                </form>
            </div>
        </div>
        
        <div class='filter-data'>
            <form id="campaigns_create" class="create-filter-form" method="GET">
                {% csrf_token %}
                <div class="inner-form-data">
                    <span>Юр. лицо</span><br>
                    <select class="mySelect" name="ur_lico_select" required>
                        <option value=""></option>
                        {% for ur_lico in ur_lico_data %}
                            <option value="{{ ur_lico.id }}">{{ ur_lico.ur_lice_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="inner-form-data">
                    <span>Тип кампании</span><br>
                    <select class="selectType" name="select_type" required>
                        <option value=""></option>
                        <option value=8>Автоматическая</option>
                    </select>
                </div>

                <div class="inner-form-data">
                    <span>Предмет</span><br>
                    <select class="mySelect" name="select_subject" required>
                        <option value=""></option>
                        {% for subject, code in subject_id.items %}
                            <option value="{{ code }}">{{ subject }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="inner-form-data">
                    <span>Список артикулов (через запятую c пробелом)</span><br>
                    <input type="text" name="articles" required/>
                </div>

                <div class="inner-form-data">
                    <span>Бюджет</span><br>
                    <input type="number" name="budget" value="1000" min="1000" required/>
                </div>

                <div class="inner-form-data">
                    <span>Ставка</span><br>
                    <input type="number" name="cpm" required/>
                </div>

                <div class="inner-form-data">
                    <br>
                    <button type="Submit" id="campaigns_create">Создать</button>
                </div>
            </form>
            
        
        </div>

    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        // ========== ЗАПУСКАЕТ СОЗДАНИЕ РЕКЛАМНЫХ КАМПАНИЙ ========= //

        document.addEventListener('DOMContentLoaded', function() {
            var submitBtn = document.getElementById('campaigns_create');
            submitBtn.addEventListener("submit", function(event) {
                event.preventDefault(); // Предотвращаем стандартное поведение отправки формы
                var formData = new FormData(this);
                formData.append("user_chat_id", "{{ user_chat_id }}");

                formData.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                // Отправка данных на сервер
                fetch('create_reklama_create_many_campaigns', {
                    method: 'POST',
                    body: formData,
                })
                
                document.getElementById("campaigns_create").reset();
            });
        });

        // ========== ОБРБАТЫВАЕТ СОЗДАНИЕ КАМПАНИЙ ИЗ EXCEL ФАЙЛА ========= //
        $(document).ready(function(){
            $('#import_data').change(function(){
                var formData = new FormData($('#uploadForm')[0]);
                formData.append("user_chat_id", "{{ user_chat_id }}");
                $.ajax({
                    url: 'create_reklama_from_excel',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response){
                        alert(response);
                    },
                    error: function(){
                        alert('Ошибка при загрузке файла');
                    }
                });
            });
        });

        // ========== ОБРБАТЫВАЕТ НАЖАТИЕ КНОПКИ ЗАГРУЗИТЬ ИЗ ФАЙЛА ========= //
        // document.getElementById('import_data').addEventListener('change', function() {
        //     document.getElementById('uploadForm').submit();
        // });
    </script>
        
{% endblock %}
