{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
        <div class='filter-data'>
            <form action="" class="small-filter-form" method="POST">
                {% csrf_token %}
                <div class="inner-form-data">
                    <span>Минус слово</span><br>
                    <input class="add_minus_word" type="text" name="add_minus_word"/>
                </div>
                <div class="inner-form-data">
                    <span>Юр. лицо</span><br>
                    <select class="mySelect" name="ur_lico_select">
                        <option value=""></option>
                        {% for ur_lico in ur_lico_data %}
                            <option value="{{ ur_lico.id }}">{{ ur_lico.ur_lice_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="inner-form-data">
                    <br>
                    <button type="submit" name="add_word">Добавить</button>
                </div>
            </form>

            <form id="minus_words_add" class="create-filter-form" method="GET">
                <div class="inner-form-data">
                    <br>
                    <button type="Submit" id="common_minus_words_add">Применить слова</button>
                </div>
            </form>
        </div>
        <table style="overflow-x: scroll; display: block; width: 100%;">
            <tr>
                <th>Минус слово</th>
                <th>Юр. лицо</th>
                <th>Дата добавления</th>
                <th>Удалить слово</th>
            </tr>
            
            {% for el in minus_words_list %}
            <tr>
                <td>
                    <input class="minus_word" placeholder="{{ el.word }}" type="text" name="minus_word" data-row="{{ el.id }}"/>
                </td>
                <td>{{ el.ur_lico.ur_lice_name }}</td>
                <td>{{ el.create_date }}</td>
                <td>
                    <form method="post" class="del_article" name="del_article" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="Submit" class="del-button" name="del-button" method="POST" value="{{ el.id }}">
                            <span id="del_icons_in_article_table" class="material-symbols-outlined">
                                delete
                            </span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // =========== ОБНОВЛЯЕТ ТАБЛИЦУ С МИНУС СЛОВАМИ ========== //
        document.querySelectorAll('.minus_word').forEach(select => {
            select.addEventListener('input', function() {
                var mainWord = this.value;
                var rowNumber = this.dataset.row;
                console.log(mainWord, rowNumber)

                var formData = new FormData();
                formData.append('main_word', mainWord);
                formData.append('word_id', rowNumber);
                formData.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
            
                fetch('update_common_minus_words', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => {
                    if (response.ok) {
                        // Обработка успешного ответа от сервера
                        // Например, обновление отображаемого значения фамилии в таблице
                    } else {
                        // Обработка ошибки
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });


        // ========== УПОРЯДОЧИВАЕТ ТАБЛИЦУ ПРИ НАЖАТИИ НА СТОЛБЕЦ ========= //
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent; 
            const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
                )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            // do the work...
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                Array.from(table.querySelectorAll('tr')).slice(1) // выбираем все строки, начиная со второй
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => table.appendChild(tr) );
            })));
    
        // ========== ЗАПУСКАЕТ ПРИМЕНЕНИЕ МИНУС СЛОВ НА ВСЕ КАМПАНИИ ========= //

        document.addEventListener('DOMContentLoaded', function() {
            var submitBtn = document.getElementById('minus_words_add');
            submitBtn.addEventListener("submit", function(event) {
                event.preventDefault(); // Предотвращаем стандартное поведение отправки формы
                var formData = new FormData(this);
                formData.append("user_chat_id", "{{ user_chat_id }}");

                formData.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
                // Отправка данных на сервер
                fetch('apply_all_minus_words', {
                    method: 'POST',
                    body: formData,
                })
                console.log('Отдал данные', formData)
                document.getElementById("minus_words_add").reset();
            });
        });
    </script>
        
{% endblock %}
