{% extends 'main/layout.html' %}


{% block title %}Периодические задачи{% endblock %}

{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function() { // событие загрузки страницы

        // выбираем на странице все элементы типа textarea и input
        document.querySelectorAll('textarea, input').forEach(function(e) {
            // если данные значения уже записаны в sessionStorage, то вставляем их в поля формы
            // путём этого мы как раз берём данные из памяти браузера, если страница была случайно перезагружена
            if(e.value === '') e.value = window.sessionStorage.getItem(e.name, e.value);
            // на событие ввода данных (включая вставку с помощью мыши) вешаем обработчик
            e.addEventListener('input', function() {
                // и записываем в sessionStorage данные, в качестве имени используя атрибут name поля элемента ввода
                window.sessionStorage.setItem(e.name, e.value);
            })
        })
    
    }); 
</script>
    <div class="features">
         <div class="top-befor-header">
            <h1>Периодические задачи</h1>
        </div>
        <table style="overflow-x: scroll; display: block; width: 100%; text-align: left">
            <tr>
                <th>Задача</th>
                <th>Start</th>
                <th>Время включения по UTC</th>
                <th>Что делает</th>
            </tr>
            {% for el in data %}   
            <tr>
                <td style="text-align: left">{{ el.0 }}</a></td>
                <td>
                    <button class="start_task" data-rowid="{{ el.0 }}">
                        <span class="material-symbols-outlined">
                            start
                        </span>
                    </button>
                </td>
                <td style="text-align: left">{{ el.2 }}</td>
                <td style="text-align: left">{{ el.1 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div> 
    <script>
        // document.querySelectorAll(".start_task").forEach(function(button) {
        //     button.addEventListener("click", function() {
        //     var rowId = this.getAttribute("data-rowid");
        //     var xhr = new XMLHttpRequest();
        //     xhr.open("GET", "long_running_function/?row_id=" + rowId, true);
        //     xhr.send();
        //     });
        // });

        document.querySelectorAll(".start_task").forEach(button => {
            button.addEventListener("click", function() {
                const taskName = this.getAttribute("data-rowid");
                fetch(```long_running_function//${taskName}```)
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            console.log(```Задача ${taskName} успешно выполнена. Результат: ${data.result}```);
                        } else {
                            console.error(data.message);
                        }
                    })
                    .catch(error => console.error(error));
            });
        });
    </script>  
{% endblock %}
