{% extends 'main/layout.html' %}
{% block title%}Работа с базой данных{% endblock %}
{% block content%}

    <div class="features">
        <div class="top-befor-header">
            <h1>Таблица соответствия группе {{ ur_lico }}</h1>
            {% if request.user.is_staff %}
            <div class="add-data">
                <div class="inner-form-data-button">
                    <br>
                    <form method="POST" enctype="multipart/form-data" class="big-filter-form" >
                        {% csrf_token %}
                        <div class="two_button_label">
                            <button type="submit" name="export" value="create_file">
                                Экспортировать в Excel
                            </button>
                            <label for="import_data">EXCEL для сопоставления</label>
                            <input type="file" id="import_data" name="import_file" class="input-file">
                            <button type="submit">
                                Загрузить
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        <div class='filter-data'>
            <form action="" class="small-filter-form" method="POST">
                {% csrf_token %}
                <label for="common_article_id" class="rand">
                    <span>Артикул</span><br>
                    <input type="text" id="common_article_id" name="common_article" class="input-field">
                </label>
                <label for="status" class="rand">
                    <span>Группа</span><br>
                    {{ form.group_name }}
                </label>
                
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="filter" value="Фильтровать" />
                </div>
                <div>
                    <br>
                    <input type="checkbox" id="articles_without_group" name="checkbox_value" value="true">
                    <label for="articles_without_group">Артикул без группы</label>
                </div>
            </form>
        </div>
            <table id="table" style="overflow-x: scroll; display: block; width: 100%;">
                <tr>
                    <th>Артикул</th>
                    <th>Название группы</th>
                    <th>Цена WB</th>
                    <th>Цена OZON</th>
                    <th>Цена YANDEX</th>
                    <th>Себестоимость</th>

                </tr>
                {% for el in data %}
                    <tr>
                        <td>{{ el.common_article }}</td>
                        <form method="post" name="name" enctype="multipart/form-data" action="">
                            {% csrf_token %}
                            <td>
                                <input value="{{el.group.name}}" type="text" name="change_group"/>
                                <button type="Submit" value="{{el.id}}" class="custom-button" name="group_name" method="POST" style="display: none;">Добавить</button>
                            </td>
                        </form>
                        <td>{{ el.group.wb_price }}</td>
                        <td>{{ el.group.ozon_price }}</td>
                        <td>{{ el.group.yandex_price }}</td>
                        <td>{{ el.common_article.cost_price }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="overlay-costprice" id="overlay-costprice">
                <div class="popup-costprice" id="popup-costprice">
                    <span class="close-btn" onclick="closePopup()">X</span>
                    <p id="popup-text"></p>
                </div>
            </div>
    <script>
        function openPopup(articleName) {
            document.getElementById('overlay-costprice').style.display = 'block';
            document.getElementById('popup-text').innerHTML = `Ошибка в разницах цен группы и себестоимости артикула <b>${articleName}</b>.`;  
        }

        function closePopup() {
            document.getElementById('overlay-costprice').style.display = 'none';
        }
        document.getElementById('articles_without_group').addEventListener('change', function() {
            var rows = document.querySelectorAll('tr');
            let table_n = document.getElementById("table");
            let rows_n = table_n.getElementsByTagName("tr");
            if (document.getElementById('articles_without_group').checked) {
                console.log('я нажал чекбокс')
                for (let i = 0; i < rows_n.length; i++) {
                    let input = rows_n[i].querySelectorAll('input[type="text"]');
                    input.forEach((input) => {
                    if(input.value){
                        rows_n[i].style.display = 'none';
                    } else {
                        rows_n[i].style.display = '';
                    };})
                };
            } else {
                for (let i = 0; i < rows_n.length; i++) {
                    let input = rows_n[i].querySelectorAll('input[type="text"]');
                    input.forEach((input) => {
                        rows_n[i].style.display = '';
                    })
                }
            }
        });

        let table_n = document.getElementById("table");
        let rows_n = table_n.getElementsByTagName("tr");
        for (let i = 1; i < rows_n.length; i++) {
            let cell = rows_n[i].querySelectorAll('td');
            let wb_price = parseFloat(cell[2].textContent)
            let ozon_price = parseFloat(cell[3].textContent)
            let yandex_price = parseFloat(cell[4].textContent)
            let cost_price = parseFloat(cell[5].textContent)
            if (wb_price && ozon_price && yandex_price && typeof cost_price === 'number') {
                if (cost_price > wb_price || cost_price > ozon_price || cost_price > yandex_price){
                    openPopup(cell[0].textContent)
                }    
            }
        }
    </script>
    </div>    
        
{% endblock %}
