{% extends 'main/layout.html' %}
{% block title%}Работа с базой данных{% endblock %}
{% block content%}

    <div class="features">
        <div class="top-befor-header">
            <h1>Таблица соответствия группе</h1>
            {% if request.user.is_staff %}
            <div class="add-data">
                <div class="inner-form-data-button">
                    <br>
                    <form method="POST" enctype="multipart/form-data" class="big-filter-form" >
                        {% csrf_token %}
                        <div class="two_button_label">
                            <button type="submit" name="export" value="create_file">
                                Импортировать в Excel
                            </button>
                            <label for="import_data">EXCEL для сопоставления</label>
                            <input type="file" id="import_data" name="import_file" class="input-file">
                            <button type="submit">
                                Загрузить
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        <div class='filter-data'>
            <form action="" class="small-filter-form" method="POST">
                {% csrf_token %}
                <label for="common_article_id" class="rand">
                    <span>Артикул</span><br>
                    <input type="text" id="common_article_id" name="common_article" class="input-field">
                </label>
                <label for="status" class="rand">
                    <span>Группа</span><br>
                    <input type="text" id="groups_id" name="groups" class="input-field">
                </label>
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="filter" value="Фильтровать" />
                </div>
            </form>
        </div>
            <table style="overflow-x: scroll; display: block; width: 100%;">
                <tr>
                    <th>Артикул</th>
                    <th>Название группы</th>
                    <th>Цена на WB</th>
                    <th>Цена на OZON</th>
                    <th>Цена на YANDEX</th>
                </tr>
                {% for el in data %}
                    <tr>
                        <td>{{ el.common_article }}</td>
                        {% if el.group|stringformat:"s" == 'None' %}
                            <td></td>
                        {% else %}
                            <td>{{ el.group.name }}</td>
                        {% endif %}
                        <td>{{ el.group.wb_price }}</td>
                        <td>{{ el.group.ozon_price }}</td>
                        <td>{{ el.group.yandex_price }}</td>
                    </tr>
                {% endfor %}
            </table>
    </div>    
        
{% endblock %}
