{% extends 'main/layout.html' %}


{% block title%}Артикулы для контроля цены{% endblock %}
{% load price_system_util %}

{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>Ценовые группы {{ ur_lico }}</h1>
            {% if request.user.is_staff %}
            <div class="add-data">
                <div class="inner-form-data-button">
                    <br>
                    <form method="POST" enctype="multipart/form-data" class="big-filter-form" >
                        {% csrf_token %}
                        <div class="two_button_label">
                            <button type="submit" name="export" value="create_file">
                                Экспортировать в Excel
                            </button>
                            <label for="import_data">EXCEL для данных групп</label>
                            <input type="file" id="import_data" name="import_file" class="input-file">
                            <button type="submit">
                                Загрузить данные
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
            
            {% endif %}
        </div>
        <div class="inner-form-data-button">
            <br>
            <form method="POST" enctype="multipart/form-data" class="action-button-form" >
                {% csrf_token %}
                    <button type="submit" name="all_groups_approval" value="approval_all_price_groups" class="custom-button-delete-add">
                        Применить все группы
                    </button>

                    <button type="submit" name="delete_low_price_button" value="delete_low_price" class="custom-button-change">
                        Удалить артикулы c низкой ценой
                    </button>
            </form>
        </div>

            <table class="price_group_table" id="pricesTable">
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Юр. лицо</th>
                    <th>Старая цена</th>
                    <th>Скидка продавца WB</th>
                    <th>Цена после скидки WB</th>
                    <th>Цена OZON</th>
                    <th>Цена YANDEX</th>
                    <th>Мин. цена</th>
                    <th>СПП</th>
                    <th>Дата СПП</th>
                    <th>Применить цены</th>
                    <th>del</th>
                </tr>
                {% for el in data %}
                <tr>
                    <td>{{ el.id }}</td>
                    <form method="post" name="name" enctype="multipart/form-data" action="">
                        {% csrf_token %}
                        <td><input value="{{ el.name }}" type="text" name="name" required/></td>
                        <td>{{ el.company }}</td>
                        <td><input value="{{ el.old_price }}" type="number" name="old_price" required/></td>
                        <td><input value="{{ el.wb_discount }}" type="number" name="wb_discount" required/></td>
                        {% if el.wb_price and el.wb_discount %}
                            <td>{{ 100|sub:el.wb_discount|divide:100|multiplicity:el.wb_price|round_number }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        
                        <td><input value="{{ el.ozon_price }}" type="number" name="ozon_price" required/></td>
                        <td><input value="{{ el.yandex_price }}" type="number" name="yandex_price" required/></td>
                        <td><input value="{{ el.min_price }}" type="number" name="min_price" required/></td>

                        
                        <button type="Submit" value="{{el.id}}" class="custom-button" name="change_button" method="POST" style="display: none;">Добавить</button>
                    </form>
                    <td>{{ el.spp }}</td>
                    <td>{{ el.change_date_spp }}</td>
                    <td>
                        <form method="post" class="" name="action_price" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button type="Submit" name="action_price" method="POST" value="{{ el.id }}">
                                    Применить
                            </button>
                        </form>
                    </td>

                    <td class="td_with_del_button">
                        <form method="post" class="del_article" name="del_article" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button type="Submit" class="del-button" name="del-button" method="POST" value="{{ el.name }}">
                                <span id="del_icons_in_article_table" class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </form>
                    </td>
                    

                </tr>
                {% endfor %}
                <tr>
                    <form method="post" name="add_article" enctype="multipart/form-data" action="">
                        {% csrf_token %}
                        <td></td>
                        <td class="table_times_amount">
                            <input class="form-control" type="text" name="name" required/>
                        </td>
                        <td class="table_times_amount">
                            {{ ur_lico }}
                        </td>
                        <td class="table_times_amount">
                            <input class="form-control" type="number" name="old_price" required/>
                        </td>
                        <td class="table_times_amount">
                            <input class="form-control" type="number" name="wb_discount" required/>
                        </td>
                        <td></td>
                        <td class="table_times_amount">
                            <input class="form-control" type="number" name="ozon_price" required/>
                        </td>
                        <td class="table_times_amount">
                            <input class="form-control" type="number" name="yandex_price" required/>
                        </td>
                        <td class="table_times_amount">
                            <input class="form-control" type="number" name="min_price" required/>
                        </td>
                </tr>
            </table>
            <button type="Submit" class="custom-button" name="add_button" method="POST">Добавить</button>
                    </form>
        
            <div class="overlay-costprice" id="overlay-costprice">
                <div class="popup-costprice" id="popup-costprice">
                    <span class="close-btn" onclick="closePopup()">X</span>
                    <p id="popup-text"></p>
                </div>
            </div>
    
        <script>

                
            function openPopup(groupName) {
                document.getElementById('overlay-costprice').style.display = 'block';
                document.getElementById('popup-text').innerHTML = `Ошибка в разницах цен группы <b>${groupName}</b>. Цена Озон отличается от старой цены менее, чем на 20 рублей.`;  
            }

            function closePopup() {
                document.getElementById('overlay-costprice').style.display = 'none';
            }
            // Получаем таблицу и строки в ней
            const table = document.getElementById('pricesTable');
            const rows = table.getElementsByTagName('tr');
            // Проходим по всем строкам, начиная со второй строки (индекс 1)
            for (let i = 1; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                const priceOzonCell = cells[6];
                const oldPriceCell = cells[3];
                const groupNameCell = cells[1];
                const priceOzon = priceOzonCell.getElementsByTagName('input')[0]
                const oldPrice = oldPriceCell.getElementsByTagName('input')[0]
                const groupName = groupNameCell.getElementsByTagName('input')[0]    
                // Проверяем условие и выводим ошибку, если оно не выполнено
                if (oldPrice.value - priceOzon.value < 20) {
                    openPopup(groupName.value)
                    break; // Прерываем цикл после вывода первой ошибки
                }
            }
        </script>
    
    </div>    
        
{% endblock %}
