{% extends 'main/layout.html' %}


{% block title%}Добавление записи в базу данных{% endblock %}

{% block content%}
    <div class="features">
        <h1>Добавление записи в базу</h1>
        <div class="table">
            <form method="post">
                {% csrf_token %} <br>
                {{ form.common_article }} <br>
                {{ form.title }} <br>
                {{ form.article_seller_wb }} <br>
                {{ form.article_wb_nomenclature }} <br>
                {{ form.barcode_wb }} <br>
                {{ form.article_seller_ozon }} <br>
                {{ form.ozon_product_id }} <br>
                {{ form.fbo_ozon_sku_id }} <br>
                {{ form.fbs_ozon_sku_id }} <br>
                {{ form.barcode_ozon }} <br>
                {{ form.article_seller_yandex }} <br>
                {{ form.barcode_yandex }} <br>
                {{ form.sku_yandex }} <br>
                {{ form.multiplicity }} <br>
                <span>{{ error }}</span>
                <button class="custom-button" type="submit">Добавить данные</button>
            </form>
        </div>
        
    </div>    
        
{% endblock %} 