{% extends 'main/layout.html' %}


{% block title%}Работа с базой данных{% endblock %}


{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>База данных Артикулов</h1>
            {% if request.user.is_staff %}
            <div class="add-data">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Загрузить артикулы в Базу Данных</p>
                    <div class="alert-warning">
                        <div class="label-button">
                            <label for="myarticles" class="custom-button-choose">Выберете Excel файл</label>
                            <input type="file" id="myarticles" name="myarticles" class="input-file">
                        </div>
                        <div class="label-button">
                            <button type="submit" class="custom-button-delete-add">
                                Загрузить
                            </button> 
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}

            {#<div class="alert alert-warninng">#}
            {#    {% if request.user.is_authenticated %}#}
            {#        <a href="{% url 'create' %}">#}
            {#            <button class="custom-button">#}
            {#                Добавить запись в базу#}
            {#            </button>#}
            {#        </a>#}
            {#    {% endif %}#}
            {#</div>#}
        </div>
            <table style="overflow-x: scroll; display: block; width: 100%;">
                <tr>
                    <th>Общий артикул</th>
                    <th>Артикул постащика на WB</th>
                    <th>Номенклатура WB</th>
                    <th>Баркод WB</th>
                    <th>Артикул поставщика на OZON</th>
                    <th>OZON Product ID</th>
                    <th>FBO OZON SKU ID</th>
                    <th>FBS OZON SKU ID</th>
                    <th>Баркод OZON</th>
                    <th>Артикул поставщика на YANDEX</th>
                    <th>Баркод YANDEX</th>
                    <th>SKU YANDEX</th>
                </tr>
                {% for el in data %}   
                <tr>
                    {% if request.user.is_authenticated %}
                        <td><a href="{% url 'database_detail' el.id %}">{{ el.common_article }}</a></td>
                    {% else %}
                        <td>{{ el.common_article }}</td>
                    {% endif %}
                    <td>{{ el.article_seller_wb }}</td>
                    <td>{{ el.article_wb_nomenclature }}</td>
                    <td>{{ el.barcode_wb }}</td>
                    <td>{{ el.article_seller_ozon }}</td>
                    <td>{{ el.ozon_product_id }}</td>
                    <td>{{ el.fbo_ozon_sku_id }}</td>
                    <td>{{ el.fbs_ozon_sku_id }}</td>
                    <td>{{ el.barcode_ozon }}</td>
                    <td>{{ el.article_seller_yandex }}</td>
                    <td>{{ el.barcode_yandex }}</td>
                    <td>{{ el.sku_yandex }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>    
        
{% endblock %}
