{% extends 'main/layout.html' %}


{% block title %}Работа с базой данных{% endblock %}

{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function() { // событие загрузки страницы

        // выбираем на странице все элементы типа textarea и input
        document.querySelectorAll('textarea, input').forEach(function(e) {
            // если данные значения уже записаны в sessionStorage, то вставляем их в поля формы
            // путём этого мы как раз берём данные из памяти браузера, если страница была случайно перезагружена
            if(e.value === '') e.value = window.sessionStorage.getItem(e.name, e.value);
            // на событие ввода данных (включая вставку с помощью мыши) вешаем обработчик
            e.addEventListener('input', function() {
                // и записываем в sessionStorage данные, в качестве имени используя атрибут name поля элемента ввода
                window.sessionStorage.setItem(e.name, e.value);
            })
        })
    
    }); 
</script>
    <div class="features">
         <div class="top-befor-header">
            <h1>База данных Продаж</h1>
        </div>
        <div class='filter-data'>
            <form action="" class="filter-form" method="POST" id="ytr">
                {% csrf_token %}
                <div class="inner-form-data">
                    <p>От</p>
                    <input type="date"  name="datestart" class="choose-date" required="" id="datestart">
                </div><br>
                <div class="inner-form-data">
                    <p>До</p>
                    <input type="date"  name="datefinish" class="choose-date" required="" id="datefinish">
                </div><br>
                <div class="inner-form-data">
                    <p>Артикул для фильтра</p>
                    <input type="text"  name="article_filter" class="choose-date" id="article_filter">
                </div><br>
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="submit" value="Фильтровать" class="custom-button-change"/>
                </div>
            </form>
        </div>
        <p>Данные по заказам от <b>{{ form_date }}</b> до <b>{{ date_finish }}</b></p>
        <p>Всего продаж с <b>{{ form_date }}</b> по <b>{{ date_finish }}</b> - <b>{{ orders_count.total }}</b> шт.</p>
        <table>
            <tr>
                <th>Артикул маркетплейса</th>
                <th>Количество</th>
                <th>Средняя цена</th>
                <th>Сумма продажи</th>
                <th>Сумма выплат</th>
            </tr>
            {% for el in data %}   
            <tr>
                <td><a href="{% url 'sales_detail' el.article_marketplace %}">{{ el.article_marketplace }}</a></td>
                <td>{{ el.total }}</td>
                <td>{{ el.avg }}</td>
                <td>{{ el.summ_pay }}</td>
                <td>{{ el.summ_sale }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>    
{% endblock %}
