{% extends 'main/layout.html' %}


{% block title%}Работа с базой данных{% endblock %}


{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>Обновление базы данных Артикулов</h1>
            <div class="add-data">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Загрузить артикулы в Базу Данных</p>
                    <div class="alert-warning">
                        <label for="myarticles" class="custom-button-choose">Выберете Excel файл</label>
                        <input type="file" id="myarticles" name="myarticles" class="input-file">
                        <button type="submit" class="custom-button-delete-add">
                            Загрузить
                        </button> 
                    </div>
                </form>
            </div>

            {#<div class="alert alert-warninng">#}
            {#    {% if request.user.is_authenticated %}#}
            {#        <a href="{% url 'create' %}">#}
            {#            <button class="custom-button">#}
            {#                Добавить запись в базу#}
            {#            </button>#}
            {#        </a>#}
            {#    {% endif %}#}
            {#</div>#}
        </div>
            <table>
                <tr>
                    <th>Артикул продаца</th>
                    <th>Наименование</th>
                    <th>Артикул WB</th>
                    <th>Артикул OZON</th>
                    <th>Артикул YANDEX</th>
                    <th>Артикул SBER</th>
                    <th>Баркод WB</th>
                    <th>Баркод OZON</th>
                    <th>Баркод YANDEX</th>
                    <th>Баркод SBER</th>
                    <th>Кратность</th>
                </tr>
                {% for el in data %}   
                <tr>
                    {% if request.user.is_authenticated %}
                        <td><a href="{% url 'database_detail' el.id %}">{{ el.seller_article }}</a></td>
                    {% else %}
                        <td>{{ el.seller_article }}</td>
                    {% endif %}
                    <td>{{ el.title|truncatechars:13 }}</td>
                    <td>{{ el.article_wb }}</td>
                    <td>{{ el.article_ozon }}</td>
                    <td>{{ el.article_yandex }}</td>
                    <td>{{ el.article_sber }}</td>
                    <td>{{ el.barcode_wb }}</td>
                    <td>{{ el.barcode_ozon }}</td>
                    <td>{{ el.barcode_yandex }}</td>
                    <td>{{ el.barcode_sber }}</td>
                    <td>{{ el.multiplicity }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>    
        
{% endblock %}
