{% extends 'main/layout.html' %}


{% block title%}Работа с базой данных{% endblock %}

{% block content%}
    <div class="features">
        <div class="alert alert-warninng">
            <table>
                <tr><th>Общий артикул</th>
                    <th>Артикул постащика на WB</th>
                    <th>Номенклатура WB</th>
                    <th>Баркод WB</th>
                    <th>Артикул поставщика на OZON</th>
                    <th>OZON Product ID</th>
                    <th>FBO OZON SKU ID</th>
                    <th>FBS OZON SKU ID</th>
                    <th>Баркод OZON</th>
                    <th>Артикул поставщика на YANDEX</th>
                    <th>Баркод YANDEX</th>
                    <th>SKU YANDEX</th>
                </tr>
                <tr>
                    <td>{{ article.common_article }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.article_seller_wb }}</td>
                    <td>{{ article.article_wb_nomenclature }}</td>
                    <td>{{ article.barcode_wb }}</td>
                    <td>{{ article.article_seller_ozon }}</td>
                    <td>{{ article.ozon_product_id }}</td>
                    <td>{{ article.fbo_ozon_sku_id }}</td>
                    <td>{{ article.fbs_ozon_sku_id }}</td>
                    <td>{{ article.barcode_ozon }}</td>
                    <td>{{ article.article_seller_yandex }}</td>
                    <td>{{ article.barcode_yandex }}</td>
                    <td>{{ article.sku_yandex }}</td>
                    <td>{{ article.multiplicity }}</td>
                </tr>
            </table>
            <div class="reduct-buttons">
                <a href="{% url 'database_delete' article.id %}">
                    <button class="custom-button-delete">
                        Удалить
                    </button>
                </a>
                <a href="{% url 'database_update' article.id %}">
                    <button class="custom-button-change">
                        Редактировать
                    </button>
                </a>
            </div>
        </div>
    </div> 
        
{% endblock %}