{% extends 'main/layout.html' %}


{% block title%}Работа с базой данных{% endblock %}

{% block content%}
    <div class="features">
        <div class="alert alert-warninng">
            <div class="charts">
                <div class='chart'>
                    <canvas id="acquisitions" width="580" height="300"></canvas>
                    <script>
                        function getGradient(ctx, chartArea) {
                            let gradient = ctx.createLinearGradient(
                              0,
                              chartArea.bottom,
                              0,
                              chartArea.top
                            );
                            gradient.addColorStop(0.9, "rgba(115, 128, 236, 0.6)");
                            gradient.addColorStop(0, "rgba(191, 198, 255, 0.6)");
                            return gradient;
                                        }
                        function getGradient2(ctx, chartArea) {
                            let gradient = ctx.createLinearGradient(
                              0,
                              chartArea.bottom,
                              0,
                              chartArea.top
                            );
                            gradient.addColorStop(0.9, "rgba(255, 119, 130, 0.6)");
                            gradient.addColorStop(0, "rgba(255, 179, 185, 0.6)");
                            return gradient;
                                        }
                        (async function() {
                          new Chart(
                            document.getElementById('acquisitions'),
                            {
                              type: 'line',
                              data: {
                                labels: [{% for article in articles %} '{{ article.pub_date }}', {% endfor %}],
                                datasets: [
                                  {
                                    label: 'Количество продаж {{ articles.0.article_marketplace }}',
                                    data: [{% for article in articles %} {{ article.amount }}, {% endfor %}],
                                    lineTension: 0.3,
                                    fill: true,
                                    backgroundColor: function (context) {
                                        const chart = context.chart;
                                        const { ctx, chartArea } = chart;
                                    
                                       // This case happens on initial chart load
                                       if (!chartArea) return;
                                       return getGradient2(ctx, chartArea);
                                    }
                                  },
                                  {
                                    label: 'Количество на складе {{ articles.0.article_marketplace }}',
                                    data: [{% for wbstock in wbstocks %} {{ wbstock.amount }}, {% endfor %}],
                                    lineTension: 0.3,
                                    fill: true,
                                    backgroundColor: function (context) {
                                        const chart = context.chart;
                                        const { ctx, chartArea } = chart;
                                    
                                       // This case happens on initial chart load
                                       if (!chartArea) return;
                                       return getGradient(ctx, chartArea);
                                    }
                                  }
                                ]
                              },
                              options: {
                                plugins: {
                                    legend: {
                                        labels: {
                                            // This more specific font property overrides the global property
                                            font: {
                                                size: 14,
                                                family: "'Open Sans', 'Arial', 'sans-serif'"
                                            }
                                        }
                                    }
                                }
                            }
                            }
                          );
                        })();
                    </script>
                </div>
                
                
                <div class='chart'>
                  <canvas id="acquisitions2" width="580" height="300"></canvas>
                  <script>
                      function getGradient(ctx, chartArea) {
                          let gradient = ctx.createLinearGradient(
                            0,
                            chartArea.bottom,
                            0,
                            chartArea.top
                          );
                          gradient.addColorStop(0.9, "rgba(115, 128, 236, 0.6)");
                          gradient.addColorStop(0, "rgba(191, 198, 255, 0.6)");
                          return gradient;
                                      }
                      function getGradient2(ctx, chartArea) {
                          let gradient = ctx.createLinearGradient(
                            0,
                            chartArea.bottom,
                            0,
                            chartArea.top
                          );
                          gradient.addColorStop(0.9, "rgba(255, 119, 130, 0.6)");
                          gradient.addColorStop(0, "rgba(255, 179, 185, 0.6)");
                          return gradient;
                                      }
                      (async function() {
                        new Chart(
                          document.getElementById('acquisitions2'),
                          {
                            type: 'line',
                            data: {
                              labels: [{% for article in articles %} '{{ article.pub_date }}', {% endfor %}],
                              datasets: [
                                {
                                  label: 'Количество продаж {{ articles.0.article_marketplace }}',
                                  data: [{% for article in articles %} {{ article.amount }}, {% endfor %}],
                                  lineTension: 0.3,
                                  fill: true,
                                  backgroundColor: function (context) {
                                      const chart = context.chart;
                                      const { ctx, chartArea } = chart;
                                  
                                     // This case happens on initial chart load
                                     if (!chartArea) return;
                                     return getGradient2(ctx, chartArea);
                                  }
                                },
                                {
                                  label: 'Количество на складе {{ articles.0.article_marketplace }}',
                                  data: [{% for wbstock in wbstocks %} {{ wbstock.amount }}, {% endfor %}],
                                  lineTension: 0.3,
                                  fill: true,
                                  backgroundColor: function (context) {
                                      const chart = context.chart;
                                      const { ctx, chartArea } = chart;
                                  
                                     // This case happens on initial chart load
                                     if (!chartArea) return;
                                     return getGradient(ctx, chartArea);
                                  }
                                }
                              ]
                            },
                            options: {
                              plugins: {
                                  legend: {
                                      labels: {
                                          // This more specific font property overrides the global property
                                          font: {
                                              size: 14,
                                              family: "'Open Sans', 'Arial', 'sans-serif'"
                                          }
                                      }
                                  }
                              }
                          }
                          }
                        );
                      })();
                  </script>
              </div>
            </div>
        </div>
        {% for wbstock in wbstocks %}
        {% if articles.0.article_marketplace ==  wbstock.seller_article_wb and wbstock.code_stock_id == 3 %} 
        <p>{{ wbstock.amount }}</p> 
        {% endif %}
        {% endfor %}  
        <div class="alert alert-warninng">
            <table>
                <tr>
                    <th>Дата</th>
                    {#<th>Артикул продавца</th>#}
                    <th>Артикул маркетплейса</th>
                    <th>Количество</th>
                    <th>Средняя цена</th>
                    <th>Сумма продажи</th>
                    <th>Сумма выплат</th>
                    <th>Код маркетплейса</th>
                </tr>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.pub_date }}</td>
                        {# <td>{{ article.seller_article }}</td>#}
                        <td>{{ article.article_marketplace }}</td>
                        <td>{{ article.amount }}</td>
                        <td>{{ article.avg_price_sale }}</td>
                        <td>{{ article.sum_sale }}</td>
                        <td>{{ article.sum_pay }}</td>
                        <td>{{ article.code_marketplace }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="reduct-buttons">
                {#<a href="{% url 'sales_delete' article.id %}">#}
                    {# <button class="custom-button-delete">#}
                       {#  Удалить #}
                    {# </button> #}
                {# </a> #}
                {#<a href="{% url 'sales_update' article.id %}">#}
                    {# <button class="custom-button-change"> #}
                        {# Редактировать #}
                    {# </button> #}
                {# </a> #}
            </div>
        </div>
    </div> 
        
{% endblock %}
