{% extends 'main/layout.html' %}


{% block title%}Редактирование записи в таблице стеллажей{% endblock %}

{% block content%}
    <div class="features">
        <h1>Редактирование записи в таблице стеллажей</h1>
        <div class="table">
            <form method="post">
                {% csrf_token %} <br>
                {{ form.seller_article_wb }} <br>
                {{ form.seller_article }} <br>
                {{ form.shelf_number }} <br>
                {{ form.amount }} <br>
                <span>{{ error }}</span>
                <button class="custom-button" type="submit">Изменить данные</button>
            </form>
        </div>
        
    </div>    
        
{% endblock %} 
