{% extends 'main/layout.html' %}


{% block title%}{{page_name}}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
            <table id="table">
                <tr>
                    <th>Дата</th>
                    <th>Отзыв</th>
                    <th>Оценка</th>
                </tr>
                {% for el in articles_feedbacks %}
                <tr>
                    <td style="text-align: left;">{{ el.created_date }}</td>
                    <td style="text-align: left; max-width: 600px; white-space: pre-wrap;">{{ el.text }}</td>
                    <td>{{ el.product_valuation }}</td>
                </tr>
                {% endfor %}
            </table>
    <script>
        // ========== УПОРЯДОЧИВАЕТ ТАБЛИЦУ ПРИ НАЖАТИИ НА СТОЛБЕЦ ========= //
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent; 
            const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
                )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            // do the work...
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                Array.from(table.querySelectorAll('tr')).slice(1) // выбираем все строки, начиная со второй
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => table.appendChild(tr) );
            })));
    </script>
    </div>    
        
{% endblock %}
