{% extends 'main/layout.html' %}


{% block title%}{{page_name}}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
        <div class='filter-data'>
            <form id="left-form" class="small-filter-form" method="POST">
                {% csrf_token %}
                <label for="common_article_id" class="rand">
                    <span>Артикул</span><br>
                    <input type="text" id="common_article_id" name="common_article" class="input-field" oninput="filterData()">
                </label>
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="filter" value="Найти"/>
                </div>
            </form>
            
            <form id="centr-form" class="small-filter-form" method="POST">
                {% csrf_token %}
                <div class="inner-form-data">
                    <span>Юр. лицо</span><br>
                    <select class="mySelect" name="ur_lico_select">
                        <option value=""></option>
                        {% for ur_lico in ur_lico_data %}
                            <option value="{{ ur_lico.ur_lice_name }}">{{ ur_lico.ur_lice_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

        
        </div>
            <table id="table">
                <tr>
                    <th>Артикул</th>
                    <th>Название</th>
                    <th>Юр. лицо</th>
                    <th>Количество отзывов</th>
                    <th>Средняя оценка</th>
                </tr>
                {% for el in articles_feedbacks %}
                <tr>
                    <td><a href="{% url 'feedbacks_article_feedbacks' el|get_item:'common_article__common_article' %}">{{ el|get_item:'common_article__common_article' }}</a></td>
                    <td>{{ el|get_item:'common_article__name' }}</td>
                    <td>{{ el|get_item:'common_article__company' }}</td>
                    <td>{{ el|get_item:'total_feedbacks' }}</td>
                    <td>{{ el|get_item:'average_valuation'|round_number }}</td>

                </tr>
                {% endfor %}
            </table>
    
        <script>
            // ========== Обрабатывает нажати кнопки загрузить из файла ========= //
            function submitForm() {
              document.getElementById('uploadForm').submit();
            }

            // ========== УПОРЯДОЧИВАЕТ ТАБЛИЦУ ПРИ НАЖАТИИ НА СТОЛБЕЦ ========= //
            const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent; 
            const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
                )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            // do the work...
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                Array.from(table.querySelectorAll('tr')).slice(1) // выбираем все строки, начиная со второй
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => table.appendChild(tr) );
            })));

            // ========== Обрабатывает выбор юр. лица из выпадающего списка ========= //
            document.addEventListener('DOMContentLoaded', function() {
                var mySelect = document.querySelector('.mySelect');
            
                mySelect.addEventListener('change', function() {
                    document.getElementById('centr-form').submit();
                });
            });
        </script>
    </div>    
        
{% endblock %}
