{% extends 'main/layout.html' %}


{% block title%}{{page_name}}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
            <table id="table">
                <tr>
                    <th>Артикул</th>
                    <th>Название</th>
                    <th>Юр. лицо</th>
                    <th>Количество отзывов</th>
                    <th>Средняя оценка</th>
                </tr>
                {% for el in articles_feedbacks %}
                <tr>
                    <td><a href="{% url 'feedbacks_article_feedbacks' el|get_item:'common_article__common_article' %}">{{ el|get_item:'common_article__common_article' }}</a></td>
                    <td>{{ el|get_item:'common_article__name' }}</td>
                    <td>{{ el|get_item:'common_article__company' }}</td>
                    <td>{{ el|get_item:'total_feedbacks' }}</td>
                    <td>{{ el|get_item:'average_valuation'|round_number }}</td>

                </tr>
                {% endfor %}
            </table>
    </div>    
        
{% endblock %}
