{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
        <div class="add-data">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="label-button">
                    <button type="submit" name="filter_data" value="ООО Иннотрейд" class="custom-button-delete-add">
                        ООО Иннотрейд
                    </button>
                    <button type="submit" name="filter_data" value="ИП Караваев" class="custom-button-choose">
                        ИП Караваев
                    </button> 
                </div>
            </form>
        </div>
        <table style="overflow-x: scroll; display: block; width: 100%;">
            <tr>
                <th rowspan="2">Ночник</th>
                <th rowspan="2">Автор</th>
                <th rowspan="2">Продажи за год</th>
                <th rowspan="2">Вознаграждение</th>
                <th colspan="{{ month_list|length }}">{{ current_year }} год</th>
            </tr>
            <tr>
                {% for month in month_list %}
                    <th>{{ month }}</th>
                {% endfor %}
            </tr>
            
            {% for el in article_list %}
            <tr>
                <td>{{ el.common_article }}</td>
                
                    <td>
                        <select class="mySelect" data-row="{{ el.common_article }}">
                            {% if el.designer != None %}
                                <option value="">{{ el.designer }}</option>
                            {% else %}
                                <option value=""></option>
                            {% endif %}
                            {% for designer in designer_list %}
                                <option value="{{ designer.id }}">{{ designer.username }}</option>
                            {% endfor %}
                        </select>
                    </td>
                
                <td>{{year_sales_dict|get_item:el.id}}</td>
                <td>{{year_sales_dict|get_item:el.id|multiplicity:0.02|round_number}}</td>
                {% for month in month_list %}
                    {% if main_sales_dict|get_item:el.id|get_item:month %}
                        <td>{{ main_sales_dict|get_item:el.id|get_item:month }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>    
    <script>
        document.querySelectorAll('.mySelect').forEach(select => {
    select.addEventListener('change', function() {
        var selectedSurname = this.value;
        console.log(selectedSurname)
        var rowNumber = this.dataset.row;
        console.log(rowNumber)
        
        var formData = new FormData();
        formData.append('selected_designer', selectedSurname);
        formData.append('article', rowNumber);
        formData.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);

        fetch('update_model_field/', {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (response.ok) {
                // Обработка успешного ответа от сервера
                // Например, обновление отображаемого значения фамилии в таблице
            } else {
                // Обработка ошибки
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
        </script>
        
{% endblock %}
