{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>

        <div class='filter-data'>
            <form id="left-form" class="small-filter-form" method="POST">
                {% csrf_token %}
                <label for="common_article_id" class="rand">
                    <span>Артикул</span><br>
                    <input type="text" id="common_article_id" name="common_article" class="input-field" oninput="filterData()">
                </label>
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="filter" value="Фильтровать" style="display: none;"/>
                </div>
            </form>
            
            <form id="centr-form" class="small-filter-form" method="POST">
                {% csrf_token %}
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="filter_data" value="ООО Иннотрейд" />
                </div>
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="filter_data" value="ИП Караваев" />
                </div>
            </form>
        
            <form method="POST" id="uploadForm" enctype="multipart/form-data" class="big-filter-form" >
                {% csrf_token %}
                <div class="inner-form-data">
                    <button type="submit" name="export" value="create_file" title="Экспорт в Excel">
                        <span class="material-symbols-outlined">
                            ios_share
                        </span>
                    </button>
                </div>
    
                <div class="inner-form-data">
                    <label for="import_data" title="Импорт из Excel">
                        <span class="material-symbols-outlined">
                            download
                        </span>
                    </label>
                    <input type="file" id="import_data" name="import_file" class="input-file" onchange="submitForm()">
                </div>
            </form>
        </div>
        {% if import_data %}
            <script>
                alert("{{ import_data }}");
            </script>
        {% endif %}
        <table id="table" style="overflow-x: scroll; width: 100%;">
            <thead>
                <tr>
                    <th>Ночник</th>
                    <th>Дизайнерский</th>
                    <th>С правами</th>
                </tr>
            </thead>
            <tbody>
                {% for el in article_list %}
                <tr>
                    <td>{{ el.common_article }}</td>
                    <td>
                        <input class="designcheckbox" data-row="{{ el.common_article }}" type="checkbox" name="designer_checkbox" id="designer_checkbox_id" value="{{el.designer_article}}" {% if el.designer_article %} checked {% endif %}>
                    </td>
                    <td>
                        <input class="copyrightcheckbox" data-row="{{ el.common_article }}" type="checkbox" name="copyright_checkbox" id="copyright_checkbox_id" value="{{el.copy_right}}" {% if el.copy_right %} checked {% endif %} disabled>
                    </td>
                {% endfor %}
            </tbody>
        </table>
    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // Блокрует нажатие чекбокса copyrightcheckbox, если designcheckbox не нажат
        document.querySelectorAll('.designcheckbox').forEach(checkbox => {
            // Проверяем состояние чекбокса designer_checkbox_id при загрузке страницы
            if (checkbox.checked) {
                checkbox.closest('tr').querySelector('.copyrightcheckbox').disabled = false;
            } else {
                checkbox.closest('tr').querySelector('.copyrightcheckbox').checked = false;
                checkbox.closest('tr').querySelector('.copyrightcheckbox').disabled = true;
            }
        
            checkbox.addEventListener('change', function() {
                let copyrightCheckbox = this.closest('tr').querySelector('.copyrightcheckbox');
                if (this.checked) {
                    copyrightCheckbox.disabled = false;
                } else {
                    copyrightCheckbox.checked = false;
                    copyrightCheckbox.disabled = true;
                }
            });
        });

        // ========== Показывает отфильтрованную таблицу ========= //
        $(document).ready(function() {
            $('#common_article_id').on('input', function() {
                var search_term = $(this).val();
                $.ajax({
                    url: '',
                    data: {'search_term': search_term},
                    success: function(data) {
                        $('#table tbody').empty();
                        if (data.length > 0) {
                            $('#table thead').html('<tr><th>Ночник</th><th>Дизайнерский</th><th>С правами</th></tr>');
                            data.forEach(function(article) {
                                var newRow = '<tr><td>' + article.common_article + '</td><td><input class="designcheckbox" data-row="' + article.common_article + '" type="checkbox" name="designer_checkbox" value="' + article.designer_article + '"';
                                if (article.designer_article) {
                                    newRow += ' checked';
                                }
                                newRow += '></td><td><input class="copyrightcheckbox" data-row="' + article.common_article + '" type="checkbox" name="copyright_checkbox" value="' + article.copy_right + '"';
                                if (article.copy_right) {
                                    newRow += ' checked';
                                }
                                newRow += '></td></tr>';
                                $('#table tbody').append(newRow);
                            });
                        } else {
                            $('#table thead').html('<tr><th colspan="3">No matching articles found</th></tr>');
                        }
                    }
                });
            });
        });
           
        // ========== Записывает в БД нажатия чекбоксов .designcheckbox ========= //
        document.querySelectorAll('.designcheckbox').forEach(select => {
            select.addEventListener('change', function() {
                var selectedSurname = this.value;
                console.log(selectedSurname)
                var rowNumber = this.dataset.row;
                console.log(rowNumber)

                var formData = new FormData();
                formData.append('designer_article_type', selectedSurname);
                formData.append('article', rowNumber);
                formData.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
            
                fetch('update_article_designer_boolean_field/', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => {
                    if (response.ok) {
                        // Обработка успешного ответа от сервера
                        // Например, обновление отображаемого значения фамилии в таблице
                    } else {
                        // Обработка ошибки
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });

        // ========== Записывает в БД нажатия чекбоксов .copyrightcheckbox ========= //
        document.querySelectorAll('.copyrightcheckbox').forEach(select => {
            select.addEventListener('change', function() {
                var selectedSurname = this.value;
                console.log(selectedSurname)
                var rowNumber = this.dataset.row;
                console.log(rowNumber)

                var formData = new FormData();
                formData.append('copyright_article_type', selectedSurname);
                formData.append('article', rowNumber);
                formData.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
            
                fetch('update_article_copyright_boolean_field/', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => {
                    if (response.ok) {
                        // Обработка успешного ответа от сервера
                        // Например, обновление отображаемого значения фамилии в таблице
                    } else {
                        // Обработка ошибки
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });

        // ========== Обрабатывает нажати кнопки загрузить из файла ========= //
        function submitForm() {
          document.getElementById('uploadForm').submit();
        }

    </script>
        
{% endblock %}
