{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
        <table style="overflow-x: scroll; width: 100%;">
            <tr>
                <th rowspan="2">Дизайнер</th>
                <th rowspan="2">Продажи за год</th>
                <th rowspan="2">Вознаграждение за год</th>
                <th colspan="{{ month_list|length }}">{{ current_year }} год</th>
            </tr>
            <tr>
                {% for month in month_list %}
                    <th>{{ month }}</th>
                {% endfor %}
            </tr>
            {% for el in designer_users %}
            <tr>
                <td><a href="{% url 'motivation_designers_rewards_detail' el.id %}">{{ el.first_name }} {{ el.last_name }}</a></td>
                {% if year_sales_dict|get_item:el.id %}
                    <td>{{year_sales_dict|get_item:el.id}}</td>
                {% else %}
                    <td></td>
                {% endif %} 
                {% if monthly_sales_dict|get_item:el.id %}
                    {% if designer_percent|get_item:el.id %}
                        {% with percent=designer_percent|get_item:el.id  %}
                            <td>{{year_sales_dict|get_item:el.id|multiplicity:percent|round_number}}</td>
                        {% endwith %}
                    {% else %}
                    <td>{{year_sales_dict|get_item:el.id|multiplicity:0}}</td>
                    {% endif %}
                {% else %}
                    <td></td>
                {% endif %}    
                {% for month in month_list %}
                    {% if monthly_sales_dict|get_item:el.id %}
                        <td>{{ monthly_sales_dict|get_item:el.id|get_item:month }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}    
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>    
        
{% endblock %}
