{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
        <div class='filter-data'>
            <form id="right-form" class="small-filter-form" method="POST">
                {% csrf_token %}
                <div class="inner-form-data">
                    <span>Год</span><br>
                    <select class="mySelect_year" name="year_select">
                        <option value=""></option>
                        {% for year in year_list %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <table id="table">
            <tr>
                <th rowspan="2">Дизайнер</th>
                <th colspan="3">Продажи за год {{ sales_year }}</th>
                <th colspan="3">Вознаграждение за год {{ sales_year }}</th>
                <th colspan="{{ month_list|length }}">{{ sales_year }} год</th>
            </tr>
            <tr>
                <th>Отрисованные</th>
                <th>Авторские</th>
                <th>Всего</th>
                <th>Отрисованные</th>
                <th>Авторские</th>
                <th>Всего</th>
                {% for month in month_list %}
                    <th>{{ month }}</th>
                {% endfor %}
            </tr>
            {% for el in designer_users %}
            <tr>
                <td><a href="{% url 'motivation_designers_sale_detail' el.id %}">{{ el.first_name }} {{ el.last_name }}</a></td>
                {% if year_article_sales_dict|get_item:el.id %}
                    <td>{{year_article_sales_dict|get_item:el.id|get_item:"draw"}}</td>
                    <td>{{year_article_sales_dict|get_item:el.id|get_item:"author"}}</td>
                    <td>{{year_article_sales_dict|get_item:el.id|get_item:"summ"}}</td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %} 

                {% if monthly_sales_dict|get_item:el.id %}
                    <td>{{year_sales_dict|get_item:el.id|get_item:"draw"|round_number}}</td>
                    <td>{{year_sales_dict|get_item:el.id|get_item:"author"|round_number}}</td>
                    <td>{{year_sales_dict|get_item:el.id|get_item:"summ"|round_number}}</td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}    
                {% for month in month_list %}
                    {% if monthly_sales_dict|get_item:el.id %}
                        {% if monthly_sales_dict|get_item:el.id|get_item:month %}
                            <td>{{ monthly_sales_dict|get_item:el.id|get_item:month|round_number }}</td>
                        {% else %}
                            <td>{{ monthly_sales_dict|get_item:el.id|get_item:month }}</td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>    
        
    <script>
        // ========== Обрабатывает выбор года из выпадающего списка ========= //
        document.addEventListener('DOMContentLoaded', function() {
            var mySelect = document.querySelector('.mySelect_year');
    
            mySelect.addEventListener('change', function() {
                document.getElementById('right-form').submit();
            });
        });

        // ========== УПОРЯДОЧИВАЕТ ТАБЛИЦУ ПРИ НАЖАТИИ НА СТОЛБЕЦ ========= //
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent; 
            const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
                )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            // do the work...
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                Array.from(table.querySelectorAll('tr')).slice(2) // выбираем все строки, начиная со второй
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => table.appendChild(tr) );
            })));
    </script>
{% endblock %}
