{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href="{% static 'main/css/main.css' %}">
    <link rel='shortcut icon' href="{% static 'main/img/icon.ico' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- Chartjs CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="/static/main/js/main.js" defer></script>
    <!-- Chartjs CDN -->
</head>
<body>
    {% block mainmenu %}
        <menu>
            <ul id="mainmenu" class="mainmenu">
                {% if request.user.is_authenticated %}
                    <li class="logout">
                        <p>{{ user.group }}</p>
                        <p><b>{{ user.username }} {{ user.group.all }}</b></p>
                        <a href="{% url 'logout' %}">
                            <p>Выйти</p>
                            <span class="material-symbols-sharp">logout</span>
                        </a>
                    </li>
                {% else %}
                <li class="login">
                    <a href="{% url 'login' %}">
                        Войти
                        <span class="material-symbols-sharp">login</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </menu>
    {% endblock mainmenu %}
    <aside>
        <a href="{% url 'database_home' %}" style="text-decoration:none">
            <div class="logo">
                <img src="{% static 'main/img/logo.png' %}" alt="Логотип">
                <h2>INNO<span class="danger">TREID</span><h2>
            </div>
        </a>
        
        <div class="sidebar">
            <nav class="menu">
                {% if request.user.is_staff %}
                <ul class="main-menu">
                    <li class="parent">
                        <span class="expanded">
                            <span class="material-symbols-sharp">receipt_long</span>
                            <h3>База данных</h3>
                            <span class="material-symbols-outlined">
                                chevron_right
                            </span>
                        </span>
                        {% url 'database_home' as url %}
                        <ul class="submenu">
                            <li>
                                <a href="{{ url }}" {% if request.path == url %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">receipt_long</span>
                                    <h3>База данных Артикулов</h3>
                                </a>
                            </li>
                        
                            {% url 'database_stock' as url_database_stock %}
                            <li>
                                <a href="{{ url_database_stock }}" {% if request.path == url_database_stock %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">inventory</span>
                                    <h3>База данных Склада</h3>
                                </a>
                            </li>
	                        {% url 'stock_wb' as url_stock_wb %}
                            <li>
                                <a href="{{ url_stock_wb }}" {% if request.path == url_stock_wb %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">inventory_2</span>
                                    <h3>База данных Склада Wildberries</h3>
                                </a>
                            </li>
                            {% url 'stock_frontend' as url_stock_frontend %}
                            <li>
                                <a href="{{ url_stock_frontend }}" {% if request.path == url_stock_frontend %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">trending_up</span>
                                    <h3>Остатки WB с Фронтенда</h3>
                                </a>
                            </li>
                            {% url 'database_sales' as url_sales %}
                            <li>
                                <a href="{{ url_sales }}" {% if request.path == url_sales %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">stockpot</span>
                                    <h3>База данных Продаж</h3>
                                </a>
                            </li>
                            {% url 'sales_analytic' as url_sales_analytic %}
                            <li>
                                <a href="{{ url_sales_analytic }}" {% if request.path == url_sales_analytic %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">query_stats</span>
                                    <h3>Аналитика Продаж</h3>
                                </a>
                            </li>
                            {% url 'innotreid_stock_yandex' as url_stock_yandex %}
                            <li>
                                <a href="{{ url_stock_yandex }}" {% if request.path == url_stock_yandex %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">database</span>
                                    <h3>Склад FBY Иннотрейд</h3>
                                </a>
                            </li>
                            {% url 'orders_fbs' as url_orders_fbs %}
                            <li>
                                <a href="{{ url_orders_fbs }}" {% if request.path == url_orders_fbs %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">stockpot</span>
                                    <h3>Статистика со склада FBS</h3>
                                </a>
                            </li>
                            {% url 'stock_shelving' as url_stock_shelving %}
                            <li>
                                <a href="{{ url_stock_shelving }}" {% if request.path == url_stock_shelving %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">shelves</span>
                                    <h3>Задание на изготовление</h3>
                                </a>
                            </li>
                        </ul>
                    </li>
                
                    <li class="parent">
                        <span class="expanded">
                            <span class="material-symbols-sharp">receipt_long</span>
                            <h3>Работа с ценами ИП</h3>
                            <span class="material-symbols-outlined">
                                chevron_right
                            </span>
                        </span>
                        <ul class="submenu">
                            {% url 'price_system_article_compare_ip' as url_article_compare %}
                            <li>
                                <a href="{{ url_article_compare }}" {% if request.path == url_article_compare %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Таблица сопоставления</h3>
                                </a>
                            </li>
                            {% url 'price_groups_ip' as url_price_groups %}
                            <li>
                                <a href="{{ url_price_groups }}" {% if request.path == url_price_groups %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Ценовые группы</h3>
                                </a>
                            </li>
                            {% url 'article_groups_ip' as url_article_groups %}
                            <li>
                                <a href="{{ url_article_groups }}" {% if request.path == url_article_groups %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Группа артикула</h3>
                                </a>
                            </li>
                            {% url 'article_price_statistic_ip' as url_price_statistic %}
                            <li>
                                <a href="{{ url_price_statistic }}" {% if request.path == url_price_statistic %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Статистика изменения цен</h3>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="parent">
                        <span class="expanded">
                            <span class="material-symbols-sharp">receipt_long</span>
                            <h3>Работа с ценами ООО</h3>
                            <span class="material-symbols-outlined">
                                chevron_right
                            </span>
                        </span>
                        <ul class="submenu">
                            {% url 'price_system_article_compare_ooo' as url_article_compare %}
                            <li>
                                <a href="{{ url_article_compare }}" {% if request.path == url_article_compare %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Таблица сопоставления</h3>
                                </a>
                            </li>
                            {% url 'price_groups_ooo' as url_price_groups %}
                            <li>
                                <a href="{{ url_price_groups }}" {% if request.path == url_price_groups %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Ценовые группы</h3>
                                </a>
                            </li>
                            {% url 'article_groups_ooo' as url_article_groups %}
                            <li>
                                <a href="{{ url_article_groups }}" {% if request.path == url_article_groups %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Группа артикула</h3>
                                </a>
                            </li>
                            {% url 'article_price_statistic_ooo' as url_price_statistic %}
                            <li>
                                <a href="{{ url_price_statistic }}" {% if request.path == url_price_statistic %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Статистика изменения цен</h3>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="parent">
                        <span class="expanded">
                            <span class="material-symbols-sharp">receipt_long</span>
                            <h3>Работа с ценами Мастерская Чудес</h3>
                            <span class="material-symbols-outlined">
                                chevron_right
                            </span>
                        </span>
                        <ul class="submenu">
                            {% url 'price_system_article_compare_gramoty' as url_article_compare %}
                            <li>
                                <a href="{{ url_article_compare }}" {% if request.path == url_article_compare %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Таблица сопоставления</h3>
                                </a>
                            </li>
                            {% url 'price_groups_gramoty' as url_price_groups %}
                            <li>
                                <a href="{{ url_price_groups }}" {% if request.path == url_price_groups %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Ценовые группы</h3>
                                </a>
                            </li>
                            {% url 'article_groups_gramoty' as url_article_groups %}
                            <li>
                                <a href="{{ url_article_groups }}" {% if request.path == url_article_groups %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Группа артикула</h3>
                                </a>
                            </li>
                            {% url 'article_price_statistic_gramoty' as url_price_statistic %}
                            <li>
                                <a href="{{ url_price_statistic }}" {% if request.path == url_price_statistic %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Статистика изменения цен</h3>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="parent">
                        <span class="expanded">
                            <span class="material-symbols-sharp">receipt_long</span>
                            <h3>Реклама</h3>
                            <span class="material-symbols-outlined">
                                chevron_right
                            </span>
                        </span>
                        <ul class="submenu">
                            {% url 'ad_campaigns' as url_ad_campaigns %}
                            <li>
                                <a href="{{ url_ad_campaigns }}" {% if request.path == url_ad_campaigns %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Список кампаний WB</h3>
                                </a>
                            </li>
                            {% url 'wb_article_campaign' as url_wb_article_campaigns %}
                            <li>
                                <a href="{{ url_wb_article_campaigns }}" {% if request.path == url_wb_article_campaigns %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>WB OOO Артикулы - Кампании</h3>
                                </a>
                            </li>
                            {% url 'ozon_ad_campaigns' as url_ozon_ad_campaigns %}
                            <li>
                                <a href="{{ url_ozon_ad_campaigns }}" {% if request.path == url_ozon_ad_campaigns %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Список кампаний OZON</h3>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="parent">
                        <span class="expanded">
                            <span class="material-symbols-sharp">receipt_long</span>
                            <h3>Создание РК WB</h3>
                            <span class="material-symbols-outlined">
                                chevron_right
                            </span>
                        </span>
                        <ul class="submenu">
                            {% url 'create_reklama_create_campaign' as url_create_campaign %}
                            <li>
                                <a href="{{ url_create_campaign }}" {% if request.path == url_create_campaign %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Создать кампанию WB</h3>
                                </a>
                            </li>
                        </ul>

                        <ul class="submenu">
                            {% url 'campaigns_list' as url_campaigns_list %}
                            <li>
                                <a href="{{ url_campaigns_list }}" {% if request.path == url_campaigns_list %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Список кампаний</h3>
                                </a>
                            </li>
                        </ul>
                        <ul class="submenu">
                            {% url 'common_minus_words' as url_common_minus_words %}
                            <li>
                                <a href="{{ url_common_minus_words }}" {% if request.path == url_common_minus_words %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Общие минус слова</h3>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="parent">
                        <span class="expanded">
                            <span class="material-symbols-sharp">receipt_long</span>
                            <h3>Ключевые слова</h3>
                            <span class="material-symbols-outlined">
                                chevron_right
                            </span>
                        </span>
                        <ul class="submenu">
                            {% url 'reklama_data_info' as url_reklama_data %}
                            <li>
                                <a href="{{ url_reklama_data }}" {% if request.path == url_reklama_data %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Информация о РК WB</h3>
                                </a>
                            </li>
                            {% url 'common_adv_statistic' as url_adv_statistic %}
                            <li>
                                <a href="{{ url_adv_statistic }}" {% if request.path == url_adv_statistic %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Статистика РК WB</h3>
                                </a>
                            </li>
                            {% url 'adv_article_words_info' as url_adv_statistic %}
                            <li>
                                <a href="{{ url_adv_statistic }}" {% if request.path == url_adv_statistic %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Слова артикулов</h3>
                                </a>
                            </li>
                            
                        </ul>
                    </li>

                    <li class="parent">
                        <span class="expanded">
                            <span class="material-symbols-sharp">receipt_long</span>
                            <h3>Отзывы</h3>
                            <span class="material-symbols-outlined">
                                chevron_right
                            </span>
                        </span>
                        <ul class="submenu">
                            {% url 'feedbacks_articles_list_info' as url_feedbacks %}
                            <li>
                                <a href="{{ url_feedbacks }}" {% if request.path == url_feedbacks %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Инфо по артикулам</h3>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="parent"> 
                        <span class="expanded">
                            <span class="material-symbols-outlined">
                                linked_services
                            </span>
                            <h3>OZON</h3>
                            <span class="material-symbols-outlined">
                                chevron_right
                            </span>
                        </span>
                        {% url 'ozon_adv_group' as url_ozon_adv_group %}
                        <ul class="submenu">
                            <li>
                                <a href="{{ url_ozon_adv_group }}" {% if request.path == url_ozon_adv_group %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">inventory_2</span>
                                    <h3>Рекламные компании OZON</h3>
                                </a>
                            </li>
                            {% url 'ozon_campaing_timetable' as url_ozon_campaing_timetable %}
                            <li>
                                <a href="{{ url_ozon_campaing_timetable }}" {% if request.path == url_ozon_campaing_timetable %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">ad_group</span>
                                    <h3>Рекламные группы OZON</h3>
                                </a>
                            </li>
                        </ul>
                    </li>          
                    
                    {% url 'task_creation' as url_delivery_number %}
                    <li>
                        <a href="{{ url_delivery_number }}" {% if request.path == url_delivery_number %}class="active"{% endif %}>
                            <span class="material-symbols-sharp">stockpot</span>
                            <h3>Поставки</h3>
                        </a>
                    </li>
                    
                    {% url 'add_article' as url_add_article %}
                    <li>
                        <a href="{{ url_add_article }}" {% if request.path == url_add_article %}class="active"{% endif %}>
                            <span class="material-symbols-sharp">sell</span>
                            <h3>Контроль цен</h3>
                        </a>
                    </li>
                    {% url 'celery_tasks_view' as url_celery_tasks_view %}
                    <li>
                        <a href="{{ url_celery_tasks_view }}" {% if request.path == url_celery_tasks_view %}class="active"{% endif %}>
                            <span class="material-symbols-sharp">sell</span>
                            <h3>Периодические задачи</h3>
                        </a>
                    </li>
                    {% endif %}
                    {% if 'Руководитель дизайнеров' in user_groups or request.user.is_staff %}
                    <li class="parent">
                        <span class="expanded">
                            <span class="material-symbols-sharp">receipt_long</span>
                            <h3>Мотивация дизайнеров</h3>
                            <span class="material-symbols-outlined">
                                chevron_right
                            </span>
                        </span>
                        <ul class="submenu">
                            {% if 'Руководитель дизайнеров' in user_groups or request.user.is_staff %}
                            {% url 'motivation_article_type' as url_article_type %}
                            
                            <li>
                                <a href="{{ url_article_type }}" {% if request.path == url_article_type %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Тип светильника</h3>
                                </a>
                            </li>
                            {% url 'motivation_article_designers' as url_article_designers %}
                            <li>
                                <a href="{{ url_article_designers }}" {% if request.path == url_article_designers %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Светильники дизайнеров</h3>
                                </a>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                            {% url 'motivation_percent_rewards' as url_percent_rewards %}
                            <li>
                                <a href="{{ url_percent_rewards }}" {% if request.path == url_percent_rewards %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>% вознаграждения</h3>
                                </a>
                            </li>
                            
                            {% url 'motivation_designers_rewards' as url_designers_rewards %}
                            <li>
                                <a href="{{ url_designers_rewards }}" {% if request.path == url_designers_rewards %}class="active"{% endif %}>
                                    <span class="material-symbols-sharp">filter_list</span>
                                    <h3>Вознаграждение дизайнеров</h3>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
        </div>
    </aside>
    <main>
        <div class="recent-orders">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script>
        document.querySelectorAll('.parent').forEach(item => {
        item.addEventListener('click', () => {
        item.classList.toggle('active');
            });
        });
    </script>
</body>

</html>
