{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>

        <div class='filter-data'>
            <form id="left-form" class="small-filter-form" method="POST">
                {% csrf_token %}
                <label for="common_article_id" class="rand">
                    <span>Кампания</span><br>
                    <input type="text" id="common_article_id" name="campaign_number" class="input-field" oninput="filterData()">
                </label>
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="filter" value="Найти"/>
                </div>
            </form>
            
            <form id="centr-form" class="small-filter-form" method="POST">
                {% csrf_token %}
                <div class="inner-form-data">
                    <span>Юр. лицо</span><br>
                    <select class="mySelect" name="ur_lico_select">
                        <option value=""></option>
                        {% for ur_lico in ur_lico_data %}
                            <option value="{{ ur_lico.id }}">{{ ur_lico.ur_lice_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

        </div>
        {% if import_data %}
            <script>
                alert("{{ import_data }}");
            </script>
        {% endif %}
        <table id="table">
            <thead>
                <tr>
                    <th>Кампания</th>
                    <th>Юр. лицо</th>
                    <th>Тип</th>
                    <th>Статус</th>
                    <th>Просмотры</th>
                    <th>Клики</th>
                    <th>CTR</th>
                    <th>CPC</th>
                    <th>Затраты</th>
                    <th>Добавления в корзину</th>
                    <th>orders</th>
                    <th>CR</th>
                    <th>Заказы</th>
                    <th>Сумма заказов</th>
                </tr>
            </thead>
            <tbody>
                {% for el in campaign_info %}
                <tr>
                    <td><a href="{% url 'adv_campaign_daily_statistic'  el.campaign.id %}">{{ el.campaign.campaign_number }}</a></td>
                    <td>{{ el.campaign.ur_lico }}</td>
                    <td>{{ WB_ADVERTISMENT_CAMPAIGN_TYPE_DICT|get_item:el.campaign.camnpaign_type }}</td>
                    <td>{{ WB_ADVERTISMENT_CAMPAIGN_STATUS_DICT|get_item:el.campaign.camnpaign_type }}</td>
                    <td>{{ el.views }}</td>
                    <td>{{ el.clicks }}</td>
                    <td>{{ el.ctr }}</td>
                    <td>{{ el.cpc }}</td>

                    <td>{{ el.summ|round_number }}</td>
                    <td>{{ el.atbs }}</td>
                    <td>{{ el.orders }}</td>
                    <td>{{ el.cr }}</td>
                    <td>{{ el.shks }}</td>
                    <td>{{ el.sum_price }}</td>
                    
                {% endfor %}
            </tbody>
        </table>
    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // ========== Обрабатывает выбор юр. лица из выпадающего списка ========= //
        document.addEventListener('DOMContentLoaded', function() {
            var mySelect = document.querySelector('.mySelect');
    
            mySelect.addEventListener('change', function() {
                document.getElementById('centr-form').submit();
            });
        });
        // ========== УПОРЯДОЧИВАЕТ ТАБЛИЦУ ПРИ НАЖАТИИ НА СТОЛБЕЦ ========= //
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent; 
        const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
            
        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr')).slice(1) // выбираем все строки, начиная со второй
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr) );
        })));
    </script>
        
{% endblock %}
