{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>

        

        {% if import_data %}
            <script>
                alert("{{ import_data }}");
            </script>
        {% endif %}
        <div class='filter-data'>
            
            <div style="display: flex; gap: 2rem;">
                <div class="inner-form-data">
                    <br>
                    <a href="{% url 'create_cpm_budget_stat' campaign_obj %}">CPM</a>
                </div>
                <div class="inner-form-data">
                    <br>
                    <a href="{% url 'create_replenish_stat' campaign_obj %}">Бюджет</a>
                </div>
                <div class="inner-form-data">
                  <br>
                  <a href="{% url 'create_pausa_stat' campaign_obj %}">Остановки</a>
              </div>
              <div class="inner-form-data">
                <br>
                <a href="{% url 'adv_campaign_daily_statistic' campaign_obj %}">Ежедневная статистика</a>
            </div>
            </div>
        </div>

        <div class="alert alert-warninng">
            <div class="charts_sales_by_week">
              <div class='chart'>
                <canvas id="acquisitions" width="580" height="300"></canvas>
                <script>
                  function getGradient(ctx, chartArea) {
                    let gradient = ctx.createLinearGradient(
                        0,
                        chartArea.bottom,
                        0,
                        chartArea.top
                      );
                      gradient.addColorStop(0.9, "rgba(115, 128, 236, 0.6)");
                      gradient.addColorStop(0, "rgba(191, 198, 255, 0.6)");
                      return gradient;
                  }
                  function getGradient2(ctx, chartArea) {
                    let gradient = ctx.createLinearGradient(
                      0,
                      chartArea.bottom,
                      0,
                      chartArea.top
                    );
                    gradient.addColorStop(0.9, "rgba(255, 119, 130, 0.6)");
                    gradient.addColorStop(0, "rgba(255, 179, 185, 0.6)");
                    return gradient;
                  }
                  (async function() {
                    new Chart(
                      document.getElementById('acquisitions'),
                      {
                        type: 'line',
                        data: {
                          labels: [{% for date in statistic_data %} '{{ date.statistic_date }}', {% endfor %}],
                          datasets: [
                            {
                              label: 'CTR {{ campaign_data.campaign_name|safe }}',
                              data: [{% for value in statistic_data %} {{ value.ctr|float_for_js }}, {% endfor %}],
                              lineTension: 0.3,
                              fill: true,
                              backgroundColor: function (context) {
                                const chart = context.chart;
                                const { ctx, chartArea } = chart;
                                // This case happens on initial chart load
                                if (!chartArea) return;
                                return getGradient2(ctx, chartArea);
                              }
                            },
                          ]
                        },
                        options: {
                          responsive: true,
                          maintainAspectRatio: false,
                          plugins: {
                              legend: {
                                  labels: {
                                      // This more specific font property overrides the global property
                                      font: {
                                        size: 14,
                                        family: "'Open Sans', 'Arial', 'sans-serif'"
                                      }
                                  }
                              }
                          }
                        }
                      }
                    );
                  })();
                </script>
              </div>

              <div class='chart'>
                <canvas id="acquisitions2" width="580" height="300"></canvas>
                <script>
                  function getGradient(ctx, chartArea) {
                    let gradient = ctx.createLinearGradient(
                        0,
                        chartArea.bottom,
                        0,
                        chartArea.top
                      );
                      gradient.addColorStop(0.9, "rgba(115, 128, 236, 0.6)");
                      gradient.addColorStop(0, "rgba(191, 198, 255, 0.6)");
                      return gradient;
                  }
                  function getGradient2(ctx, chartArea) {
                    let gradient = ctx.createLinearGradient(
                      0,
                      chartArea.bottom,
                      0,
                      chartArea.top
                    );
                    gradient.addColorStop(0.9, "rgba(255, 119, 130, 0.6)");
                    gradient.addColorStop(0, "rgba(255, 179, 185, 0.6)");
                    return gradient;
                  }
                  (async function() {
                    new Chart(
                      document.getElementById('acquisitions2'),
                      {
                        type: 'line',
                        data: {
                          labels: [{% for date in statistic_data %} '{{ date.statistic_date }}', {% endfor %}],
                          datasets: [
                            {
                              label: 'Показы {{ campaign_data.campaign_name|safe }}',
                              data: [{% for value in statistic_data %} {{ value.views }}, {% endfor %}],
                              lineTension: 0.3,
                              fill: true,
                              backgroundColor: function (context) {
                                const chart = context.chart;
                                const { ctx, chartArea } = chart;
                                // This case happens on initial chart load
                                if (!chartArea) return;
                                return getGradient2(ctx, chartArea);
                              }
                            },
                          ]
                        },
                        options: {
                          responsive: true,
                          maintainAspectRatio: false,
                          plugins: {
                              legend: {
                                  labels: {
                                      // This more specific font property overrides the global property
                                      font: {
                                        size: 14,
                                        family: "'Open Sans', 'Arial', 'sans-serif'"
                                      }
                                  }
                              }
                          }
                        }
                      }
                    );
                  })();
                </script>
              </div>
            </div>
          </div>
        <table id="table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Просмотры</th>
                    <th>Клики</th>
                    <th>CTR</th>
                    <th>CPC</th>
                    <th>Затраты</th>
                    <th>Добавления в корзину</th>
                    <th>orders</th>
                    <th>CR</th>
                    <th>Заказы</th>
                </tr>
            </thead>
            <tbody>
                {% for el in data %}
                <tr>
                    <td>{{ el.statistic_date }}</td>
    
                    <td>{{ el.views }}</td>
                    <td>{{ el.clicks }}</td>
                    <td>{{ el.ctr }}</td>
                    <td>{{ el.cpc }}</td>
                    <td>{{ el.summ|round_number }}</td>
                    <td>{{ el.atbs }}</td>
                    <td>{{ el.orders }}</td>
                    <td>{{ el.cr }}</td>
                    <td>{{ el.shks }}</td>
                    
                {% endfor %}
            </tbody>
        </table>
    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        
        
        
        // ========== Обрабатывает нажати кнопки загрузить из файла ========= //
        function submitForm() {
          document.getElementById('uploadForm').submit();
        }
        
        // ========== УПОРЯДОЧИВАЕТ ТАБЛИЦУ ПРИ НАЖАТИИ НА СТОЛБЕЦ ========= //
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent; 
        function comparer(index, asc) {
            return function(a, b) {
                const valA = parseFloat(a.children[index].textContent.replace(',', '.')) || 0;
                const valB = parseFloat(b.children[index].textContent.replace(',', '.')) || 0;
                if (valA === valB) {
                    return 0;
                } else {
                    return (asc ? (valA > valB) : (valA < valB)) ? 1 : -1;
                }
            };
        }

        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr')).slice(1) // выбираем все строки, начиная со второй
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr) );
        })));

       
    </script>
        
{% endblock %}
