{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>
        <div class='filter-data'>
            <form id="left-form" class="small-filter-form" method="POST">
                {% csrf_token %}
                <div class="inner-form-data">
                    <span>От</span><br>
                    <input type="date"  name="datestart" class="input-field">
                </div>
                <div class="inner-form-data">
                    <span>До</span><br>
                    <input type="date"  name="datefinish" class="input-field">
                </div>
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="filter" value="Фильтровать"/>
                </div>
            </form>

            <form id="centr-form" class="small-filter-form" method="POST">
                {% csrf_token %}
                <div class="inner-form-data">
                    <span>Юр. лицо</span><br>
                    <select class="mySelect" name="ur_lico_select">
                        <option value=""></option>
                        {% for ur_lico in ur_lico_data %}
                            <option value="{{ ur_lico.id }}">{{ ur_lico.ur_lice_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            
            <div class="inner-form-data">
                <br>
                <button id="openModal" style="white-space: nowrap;">Добавить минус слова</button>
            </div>
        </div>
        
        
        {% if import_data %}
            <script>
                alert("{{ import_data }}");
            </script>
        {% endif %}

        <div class="top-befor-header">
            <h2>Более 200 показов</h2>
        </div>
        <table id="table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="main_check_box" class="input-field" onchange="checkAllCheckboxes(this)"> 
                    </th>
                    <th>Артикул</th>
                    <th>Название кампании</th>
                    <th>Показы</th>
                    <th>Клики</th>
                    <th>CTR</th>
                    <th>Затраты</th>
                    <th>Присутствие фразы</th>
                    <th>Белый лист</th>
                </tr>
            </thead>
            <tbody>
                {% for el in phrase_data %}
                {% if el|get_item:"total_views" > 200 %}
                <tr data-campaign-number="{{ el|get_item:'campaign_number' }}" data-campaign-obj="{{ el|get_item:'campaign_obj' }}" data-ur-lico="{{ el|get_item:'campaign_ur_lico' }}">
                    <td>
                        <input type="checkbox" name="campaign_check" class="input-field">
                    </td>
                    <td>{{ el|get_item:"campaign__articles_name" }}</td>
                    <td>{{ el|get_item:"campaign_name" }}</td>
                    {% with views=el|get_item:"total_views" %}
                    {% with clicks=el|get_item:"total_clicks" %}
                        <td>{{ el|get_item:"total_views" }}</td>
                        <td>{{ el|get_item:"total_clicks" }}</td>
                        <td>{{ clicks|divide:views|multiplicity:100|round_number_two }}</td>
                        <td>{{ el|get_item:"total_summ"|round_number }}</td>
                    {% endwith %}
                    {% endwith %}
                    <td>
                        <input type="checkbox" disabled {% if el|get_item:'minus_checker' %}checked{% endif %}>
                    </td>
                    <td>
                        <input type="text" {% if el|get_item:'phrase_list' %} value="{{ el|get_item:'phrase_list' }}" {% else %} value="" {% endif %}  name="white_list" class="white_list_words">
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <div class="top-befor-header">
            <h2>Менее 200 показов</h2>
        </div>
        <table id="table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="main_check_box" class="input-field-less-200" onchange="checkAllLessCheckboxes(this)"> 
                    </th>
                    <th>Артикул</th>
                    <th>Название кампании</th>
                    <th>Показы</th>
                    <th>Клики</th>
                    <th>CTR</th>
                    <th>Затраты</th>
                    <th>Присутствие фразы</th>
                    <th>Белый лист</th>

                </tr>
            </thead>
            <tbody>
                {% for el in phrase_data %}
                {% if el|get_item:"total_views" <= 200 %}
                <tr data-campaign-number="{{ el|get_item:'campaign_number' }}" data-campaign-obj="{{ el|get_item:'campaign_obj' }}" data-ur-lico="{{ el|get_item:'campaign_ur_lico' }}">
                    <td>
                        <input type="checkbox" name="campaign_check" class="input-field-less-200">
                    </td>
                    <td>{{ el|get_item:"campaign__articles_name" }}</td>
                    <td>{{ el|get_item:"campaign_name" }}</td>
                    {% with views=el|get_item:"total_views" %}
                    {% with clicks=el|get_item:"total_clicks" %}
                        <td>{{ el|get_item:"total_views" }}</td>
                        <td>{{ el|get_item:"total_clicks" }}</td>
                        <td>{{ clicks|divide:views|multiplicity:100|round_number_two }}</td>
                        <td>{{ el|get_item:"total_summ"|round_number }}</td>
                    {% endwith %}
                    {% endwith %}
                    <td>
                        <input type="checkbox" disabled {% if el|get_item:'minus_checker' %}checked{% endif %}>
                    </td>
                    <td>
                        <input type="text" {% if el|get_item:'phrase_list' %} value="{{ el|get_item:'phrase_list' }}" {% else %} value="" {% endif %}  name="white_list" class="white_list_words">
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <span>Введите минус слова через запятую с пробелом</span><br>
          <input type="text" value="{{ minus_phrase }}" id="textInput" disabled><br>
          <button id="applyBtn">ПРИМЕНИТЬ</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        //========== РАБОТАЕТ С ВЫБРАННЫМИ ЧЕКБОКСАМИ ==========//
        document.getElementById('applyBtn').addEventListener('click', function() {
            sendCampaignData(this);
        });

        function sendCampaignData(button) {
            var selectedArticles = [];
            var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            var formData = new FormData();
        
            var campaignData = {};
        
            checkboxes.forEach(function(checkbox) {
                var row = checkbox.closest('tr');
                var campaignNumber = row.getAttribute('data-campaign-number');
                var urLico = row.getAttribute('data-ur-lico');
            
                selectedArticles.push({
                    campaignNumber: urLico
                });
            
                // Добавляем название кнопки к данным
                campaignData[campaignNumber] = urLico

            });
            formData.append('campaignData', JSON.stringify(campaignData));
            formData.append('minus_word', '{{ minus_phrase }}');
            formData.append('button_name', button.id);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        
            fetch('../minus_words_checked_campaigns', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
        
            .catch(error => {
                console.error('Error:', error);
            });
        }

        var modal = document.getElementById("myModal");
        var btn = document.getElementById("openModal");
        var span = document.getElementsByClassName("close")[0];
        var applyBtn = document.getElementById("applyBtn");

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        applyBtn.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        //========== ЧЕКАЕТ ВСЕ ЧЕКБОКСЫ,ЕСЛИ НАЖМЕТ ГЛАВНЫЙ ==========//
        function checkAllCheckboxes(mainCheckbox) {
            var checkboxes = document.getElementsByClassName('input-field');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] !== mainCheckbox) {
                    checkboxes[i].checked = mainCheckbox.checked;
                }
            }
        }

        function checkAllLessCheckboxes(mainCheckbox) {
            var checkboxes = document.getElementsByClassName('input-field-less-200');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] !== mainCheckbox) {
                    checkboxes[i].checked = mainCheckbox.checked;
                }
            }
        }

        // ========== УПОРЯДОЧИВАЕТ ТАБЛИЦУ ПРИ НАЖАТИИ НА СТОЛБЕЦ ========= //
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent; 
        const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr')).slice(1) // выбираем все строки, начиная со второй
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr) );
        })));

        // ========== Обрабатывает выбор юр. лица из выпадающего списка ========= //
        document.addEventListener('DOMContentLoaded', function() {
            var mySelect = document.querySelector('.mySelect');
    
            mySelect.addEventListener('change', function() {
                document.getElementById('centr-form').submit();
            });
        });


        // =========== ОБНОВЛЯЕТ ЯЧеЙку С белЫМ ЛИСТОМ ========== //
        document.querySelectorAll('.white_list_words').forEach(select => {
            select.addEventListener('input', function() {
                var selectedArticles = [];
                var campaignData = {};
                var whitePhrase = this.value;
                console.log('whitePhrase', whitePhrase)
                var row = this.closest('tr');
                console.log('row', row)
                var campaignObj = row.getAttribute('data-campaign-obj');
                
                var formData = new FormData();
                formData.append('campaign_obj', campaignObj);
                formData.append('white_phrase', whitePhrase);
                formData.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
            
                fetch('../update_white_phrase', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => {
                    if (response.ok) {
                        // Обработка успешного ответа от сервера
                        // Например, обновление отображаемого значения фамилии в таблице
                    } else {
                        // Обработка ошибки
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
        
{% endblock %}
