{% extends 'main/layout.html' %}


{% block title%}{{ page_name }}{% endblock %}
{% load price_system_util %}
{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>{{ page_name }}</h1>
        </div>

        
        {% if import_data %}
            <script>
                alert("{{ import_data }}");
            </script>
        {% endif %}

        <div class='filter-data'>
            <div style="display: flex; gap: 2rem;">
                <div class="inner-form-data">
                    <br>
                    <a href="{% url 'adv_article_clusters' article_id %}">Кластеры</a>
                </div>

                <div class="inner-form-data">
                    <br>
                    <a href="{% url 'adv_article_excluded' article_id %}">Минус слова</a>
                </div>
                <div class="inner-form-data">
                    <br>
                    <a href="{% url 'adv_article_jam_statistic' article_id %}">Статитстика Джем</a>
                </div>
            </div>
        </div>
        <div class='filter-data'>
            <form id="left-form" class="small-filter-form" method="POST">
                {% csrf_token %}
                <div class="inner-form-data">
                    <span>От</span><br>
                    <input type="date"  name="datestart" class="input-field">
                </div>
                <div class="inner-form-data">
                    <span>До</span><br>
                    <input type="date"  name="datefinish" class="input-field">
                </div>
                <div class="inner-form-data">
                    <br>
                    <input type="Submit" id="filter" name="filter" value="Фильтровать"/>
                </div>
            </form>
        </div>
        <table id="table">
            <thead>
                <tr>
                    <th>Кластеры</th>
                    <th>Частотность в джеме</th>
                    <th>Показы в джеме</th>
                    <th>Переходы в карточку</th>
                    <th>Добавление в корзину</th>
                    <th>Заказы</th>
                </tr>
            </thead>
            <tbody>
                {% for cluster, data in data_dict.items %}
                <tr>
                    <td>{{ cluster }}</td>

                    {% if data.0 %}
                        <td>{{ data.0 }}</td>
                        <td>{{ data.1 }}</td>
                        <td>{{ data.4 }}</td>
                        <td>{{ data.2 }}</td>
                        <td>{{ data.3 }}</td>

                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // ========== УПОРЯДОЧИВАЕТ ТАБЛИЦУ ПРИ НАЖАТИИ НА СТОЛБЕЦ ========= //
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent; 
        const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
            
        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr')).slice(1) // выбираем все строки, начиная со второй
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr) );
        })));
    </script>
        
{% endblock %}
