{% extends 'main/layout.html' %}


{% block title%}Поставки{% endblock %}


{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>Поставки</h1>
        </div>
        <div class="table_wrapper">
            <table class="delivery_number">
                <tr>
                    <th rowspan="2">Задание</th>
                    <th rowspan="2">Маркетплейс</th>
                    <th colspan="2">Изготовление пластин</th>
                    <th colspan="2">Наклейки</th>
                    <th rowspan="2">Статус отгрузки</th>
                    <th rowspan="2" colspan="2">Дата отгрузки</th>
                </tr>

                <tr>
                    <th>Прогресс</th>
                    <th>Остаток/Общее количество</th>
                    <th>В печати</th>
                    <th>Отпечатаны</th>
                </tr>
                
                {% for el in data %}   
                <tr>
                    <td><a href="{% url 'delivery_data' el.id %}">{{ el.task_name }}</a></td>
                    <td>{{ el.market_name }}</td>
                    <!-- <td>{{ el.from_stock }}</td> -->
                    <td id="progress-col">{{ el.progress }}</td>
                    <td>{{ el.remainder }}</td>

                    <!-- <td>{{ el.stickers }}</td> -->
                    <form method="post" id="add_delivery" name="form_task_id" enctype="multipart/form-data">
                        {% csrf_token %}
             
                        {% if el.printing == True %}
                        <td style="background: #c2ffbd;">
                            <input class="form-check-input" type="checkbox" value="1" name="printing" onchange="changeColor(this)" checked/>
                        </td>
                        {% else %}
                        <td style="background: #fff;">
                            <input class="form-check-input" type="checkbox" value="1" name="printing" onchange="changeColor(this)"/>
                        </td>
                        {% endif %}

                        {% if el.printed == True %}
                        <td style="background: #c2ffbd;">
                            <input class="form-check-input" type="checkbox" value="1" name="printed" checked onchange="changeColor(this)"/>
                        </td>
                        {% else %}
                        <td style="background: #fff;">
                            <input class="form-check-input" type="checkbox" value="1" name="printed" onchange="changeColor(this)"/>
                        </td>
                        {% endif %}
    
                        {% if el.shipment_status == True %}
                        <td style="background: #c2ffbd;">
                            <div class="checkbox-delivery">
                                <input class="form-check-input" type="checkbox" value="1" name="shipment_status" checked onchange="changeDateColor(this)"/>
                                <p>Отгружен</p>
                            </div>
                        </td>
                        {% else %}
                        <td style="background: #ffcfcf;">
                            <div class="checkbox-delivery">
                                <input class="form-check-input" type="checkbox" value="1" name="shipment_status" onchange="changeDateColor(this)" />
                                <p>Не отгружен</p>
                            </div>
                        </td>
                        {% endif %}
                        <button style="display: none;" class="custom-button" type="Submit"  name="button_task_id" value="{{ el.id }}" method="POST"> Загрузить
                    </form>
                    <form method="post" id="add_shipment_date_id" class="date-form-control" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <td><input value="{{ el.shipping_date|stringformat:'s' }}" type="date" class="form-control" id="shipment_date" name="add_shipment_date_name" style="background: transparent;"></td>
                        <button style="display: none;" class="custom-button" type="Submit"  name="button_add_shipment_date" value="{{ el.id }}" method="POST"> Загрузить
                    </form>
                    <td class="td_with_del_button">
                        <form method="post" class="del_delivery" name="del_delivery" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="Submit" class="del_delivery_button" name="del_delivery_button" method="POST" value="{{ el.id }}">
                            <span id="del_icons_in_article_table" class="material-symbols-outlined">
                                delete
                            </span>
                        </button>
                    </form></td>
                </tr>
                {% endfor %}
                <tr>
                <form method="post" id="add_delivery" name="add_delivery" enctype="multipart/form-data">
                    {% csrf_token %}
                    <td class="table_times_amount">
                        {{ form.task_name }}
                    </td>
                    <td class="table_times_amount">
                        <p name="task_name" class="form-control">{{ form.market_name }}</p>
                    </td>
                    <td class="table_times_amount"></td>
                    <td class="table_times_amount"></td>
                    <td class="table_times_amount"></td>
                    <td class="table_times_amount"></td>
                    <td class="table_times_amount"></td>
                    <td class="table_times_amount"></td>
                </tr>
            </table>
            <button class="custom-button" type="Submit"  name="add_delivery_button" method="POST"> Загрузить
            </button> 
            </form>
        </div>
    </div>    
        
{% endblock %}
