{% extends 'main/layout.html' %}


{% block title%}Номер поставки{% endblock %}


{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>Поставка</h1>
            {% if request.user.is_staff %}
            <div class="add-data">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Загрузить артикулы в Базу Данных</p>
                    <div class="alert-warning">
                        <div class="label-button">
                            <label for="myarticles" class="custom-button-choose">Выберете Excel файл</label>
                            <input type="file" id="myarticles" name="myarticles" class="input-file">
                        </div>
                        <div class="label-button">
                            <button type="submit" class="custom-button-delete-add">
                                Загрузить
                            </button> 
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="table_wrapper">
            <table>
                <tr>
                    <th rowspan="2">Предмет</th>
                    <th rowspan="2">Артикул постащика</th>
                    <th rowspan="2">Со склада</th>
                    <th rowspan="2">Количество</th>
                    <th rowspan="2">Произведено</th>
                    <th rowspan="2">Фактическое количество</th>
                    {% for date in production_date %}
                        <th colspan="2" >{{date}}</th>
                    {% endfor %}
                </tr>
                
                <tr>
                    {% for date in production_date %}
                    <th>День</th>
                    <th>Ночь</th>
                    {% endfor %}
                </tr>
                
                {% for el in data %}   
                <tr>
                    <td>{{ el.subject }}</td>
                    <td>{{ el.supplier_article }}</td>
                    <td>{{ el.from_stock }}</td>
                    
                    <td>{{ el.amount }}</td>
                    {% if el.produced == None %}
                    <td></td>
                    {% else %}
                    <td>{{ el.produced }}</td>
                    {% endif %}
                    <td>{{ el.fact_amount }}</td>
                    {% for date in production_date %}
                    <form method="post" id="{{ el.supplier_article }}" name="{{ el.supplier_article }}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <td class="table_times_amount">
                            <input type="number" class="table_times_amount" value="{{ el.day_production_amount }}" id="{{date}} day {{ el.supplier_article }}" name="{{date}} day {{ el.supplier_article }}"/>
                        </td>
                        <td class="table_times_amount">
                            <input type="number" class="table_times_amount" value="{{ el.night_production_amount }}" id="{{date}} night {{ el.supplier_article }}" name="{{date}} night {{ el.supplier_article }}"/>
                        </td>
                        <td style="display: none;"><button type="Submit" id="{{ el.id }}" name="{{ el.id }}" method="POST"> Загрузить
                        </button> </td>
                    </form>
                    {% endfor %}
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>    
        
{% endblock %}
