{% extends 'main/layout.html' %}


{% block title%}Данные рекламных компаний{% endblock %}


{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>Данные рекламных компаний</h1>
        </div>
        <table style="overflow-x: scroll; display: block; width: 100%;">
            
            <tr>
                <th>ID Компании</th>
                <th>Название</th>
                <th>advObjectType</th>
                <th>dailyBudget</th>
                <th>budget</th>
                <th>createdAt</th>
                <th>updatedAt</th>
                <th>state</th>
                <th>Отключить</th>
                <th>включить</th>
            </tr>
            {% for article in compaign_data %}
            <tr>
                <td><a href="{% url 'ozon_campaing_article_info' article.id %}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.advObjectType }}</td>
                <td>{{ article.dailyBudget }}</td>
                <td>{{ article.budget }}</td>
                <td>{{ article.createdAt }}</td>
                <td>{{ article.updatedAt }}</td>
                <td>{{ article.state }}</td>
                <td>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="datetime-local" name="stop_time" class="celery-action-date">
                        <button class="custom-button" type="submit" name="stop" value="{{article.id}}" style="display: none;">Остановить</button>
                    </form>
                    <div class="celery_action_data">
                        <!-- <span >Расписание остановок</span> -->
                        {% for date in action_data %}
                            {% if article.id == date.company_number and date.action_type == 'stop' %}
                            <div class="celery_date_info">
                                <span class="task_date">{{date.action_datetime}}</span>
                                <form method="post" enctype="multipart/form-data" style="margin: 0; padding: 0;">
                                    {% csrf_token %}
                                    <button type="submit" name="del_task" value="{{date.id}} {{date.celery_task}}">
                                        <span class="material-symbols-outlined">
                                            delete
                                        </span>
                                    </button>
                                </form>
                            </div>
                            {% endif %}
                        {% endfor %} 
                    </div>
                </td>
                <td>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="datetime-local" name="start_time" class="celery-action-date">
                        <button class="custom-button" type="submit" name="start" value="{{article.id}}" style="display: none;">Запустить</button>
                    </form>
                    <div class="celery_action_data">
                        <!-- <span class="name_work">Расписание запусков</span> -->
                        {% for date in action_data %}
                            {% if article.id == date.company_number and date.action_type == 'start' %}

                            <div class="celery_date_info">
                                <span class="task_date">{{date.action_datetime}}</span>
                                <form method="post" enctype="multipart/form-data" style="margin: 0; padding: 0;">
                                    {% csrf_token %}
                                    <button type="submit" name="del_task" value="{{date.id}} {{date.celery_task}}">
                                        <span class="material-symbols-outlined">
                                            delete
                                        </span>
                                    </button>
                                </form>
                            </div>
                            {% endif %}
                        {% endfor %} 
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
  var schedule = document.querySelector('.celery_date_info');
  console.log(schedule)
  var spanContent = schedule.querySelector('.task_date');
  console.log(spanContent)

  if (spanContent.textContent.trim() === "") {
    schedule.style.display = "none";
  } else {
    schedule.style.display = "";
  }
});
        </script>
    </div>    
        
{% endblock %}
