{% extends 'main/layout.html' %}


{% block title%}Данные рекламных компаний{% endblock %}


{% block content%}
    <div class="features">
        <div class="top-befor-header">
            <h1>Данные рекламных компаний</h1>
        </div>
        <table style="overflow-x: scroll; display: block; width: 100%;">
            
            <tr>
                <th>ID Компании</th>
                <th>Название</th>
                <th>advObjectType</th>
                <th>dailyBudget</th>
                <th>budget</th>
                <th>createdAt</th>
                <th>updatedAt</th>
                <th>state</th>
                <th>Действие</th>
            </tr>
            {% for article in compaign_data %}
            <tr>
                <td><a href="{% url 'ozon_campaing_article_info' article.id %}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.advObjectType }}</td>
                <td>{{ article.dailyBudget }}</td>
                <td>{{ article.budget }}</td>
                <td>{{ article.createdAt }}</td>
                <td>{{ article.updatedAt }}</td>
                <td>{{ article.state }}</td>
                <td>
                    <form method="post" enctype="multipart/form-data" style="margin: 0; padding: 0;">
                        {% csrf_token %}
                        <input type="datetime-local" name="stop_time" class="choose-date">
                        <button class="custom-button" type="submit" name="stop" value="{{article.id}}">Остановить</button>
                        <input type="datetime-local" name="start_time" class="choose-date">
                        <button class="custom-button" type="submit" name="start" value="{{article.id}}">Запустить</button>   
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>    
        
{% endblock %}
